{% extends 'base.html' %}

{% block steps %}
    <a href="{{ url_for('admin.user', id=user.id) }}" class="step">{{ user.name }}</a>
{% endblock %}


{% block page_title %}
    Gebruiker wijzigen
{% endblock %}

{% block body %}
    <form method="POST">
        {{ form.csrf_token }}
        {{ form.submit }}
        <table class="settings">
            <tr>
                <td>{{ form.name.label }}</td>
                <td>{{ form.name }}</td>
            </tr>
            <tr>
                <td>{{ form.role.label }}</td>
                {% if current_user.role.edit_users %}
                    <td>{{ form.role }}</td>
                {% else %}
                    <td> {{ form.role(readonly=true) }}</td>
                {% endif %}
            </tr>
            <tr>
                <td>{{ form.email.label }}</td>
                <td>{{ form.email }}</td>
            </tr>
            <tr>
                <td>
                    {{ form.description.label }}
                    {{ macro.markdown_help() }}
                </td>
                <td>{{ form.description }}</td>
            </tr>
            <tr>
                <td>{{ form.link.label }}</td>
                <td>{{ form.link }}</td>
            </tr>

        </table>
        
    </form>
{% endblock %}