{% extends 'base.html' %}

{% block steps %}

{% endblock %}


{% block page_title %}
    Gebruikers
{% endblock %}

{% block instrumenten %}   
    {% if current_user.role.edit_users %}
        <a href="{{ url_for('admin.register') }}"><div class="instrument">+ Nieuwe gebruiker maken</div></a>
        <a href="{{ url_for('admin.roles') }}"><div class="instrument">Bekijk rollen</div></a>
        <a href="{{ url_for('admin.new_system_message') }}"><div class="instrument">Bericht aan alle gebruikers</div></a>
        <a href="{{ url_for('admin.all_messages') }}"><div class="instrument">Alle berichten</div></a>
    {% endif %}
{% endblock %}

{% block body %}
    <table>
        <tr>
            <th>Naam</th>
            <th>Rol</th>
            <th>Beschrijving</th>
        </tr>
        {% for user in users %}
            <tr>
                <td><a href="{{ url_for('admin.user', id=user.id) }}">{{ user.name }}</a></td>
                <td>{{ user.role.name }}</td>
                <td>{{ user.description | escape | truncate(100) | markdown }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}