{% extends 'base.html' %}

{% block steps %}

{% endblock %}


{% block page_title %}
    Gebruikers
{% endblock %}

{% block instrumenten %}   
    {% if current_user.role.edit_users %}
        <a href="{{ url_for('admin.all_messages') }}"><div class="instrument">Alle berichten</div></a>
        <a href="{{ url_for('admin.roles') }}"><div class="instrument">Rollen</div></a>
        <a href="{{ url_for('export.index') }}"><div class="instrument">Exporteren</div></a>
    {% endif %}
{% endblock %}

{% block body %}
    <table>
        <tr>
            <th>Naam</th>
            <th>Rol</th>
            <th>Beschrijving</th>
        </tr>
        {% for user in users %}
            <tr>
                <td><a href="{{ url_for('admin.user', id=user.id) }}">{{ user.name }}</a></td>
                <td>{{ user.role.name }}</td>
                <td>{{ user.description | escape | truncate(100) | markdown }}</td>
            </tr>
        {% endfor %}
    </table>

    {% if current_user.role.edit_users %}
        <h1>Acties</h1>
        <ul>
            <li><a href="{{ url_for('admin.register') }}">Nieuwe gebruiker maken</a></li>
            <li><a href="{{ url_for('admin.new_system_message') }}">Stuur bericht aan alle gebruikers</a></li>
        </ul>
    {% endif %}
{% endblock %}