{% extends 'base.html' %}


{% block page_title %}
    Applicatie info
{% endblock %}

{% block instrumenten %}   
    <a href="{{ url_for('export.index') }}"><div class="option">Alle exportfuncties</div></a>
{% endblock %}


{% block body %}
<h1>Informatie over de app</h1>
    <table class="sortable">
        <thead>
            <tr>
                <th>Kenmerk</th>
                <th>Waarde</th>
                <th>Toelichting</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Applicatieversie</td>
                <td>{{ config['APP_VERSION'] }}</td>
                <td></td>
            </tr>
            <tr>
                <td>Bestandsindelingsversie</td>
                <td>{{ config['FILETYPE_VERSION'] }}</td>
                <td>De applicatie kan alleen bestanden (instrumenten, tools) importeren met dezelfde bestandindelingsversie.</td>
            </tr>
        </tbody>
    </table>



<h1>Instellingen van de container</h1>
    <table class="sortable">
        <thead>
            <tr>
                <th>Omgevingsvariabele</th>
                <th>Waarde</th>
            </tr>
        </thead>
        <tbody>
            {% for item in config %}
                <tr>
                    <td>{{ item }}</td>
                    <td>{{ config[item] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}