{% extends 'base.html' %}

{% block steps %}
    {% if current_user.role.edit_users %}<a href="{{ url_for('admin.index') }}" class="step">Gebruikers</a>{% endif %}
    {% if current_user.role.edit_users %}<a href="{{ url_for('admin.user', id=user.id) }}" class="step">{{ user.name }}</a>{% endif %}

{% endblock %}

{% block page_title %}
    Berichten 
{% endblock %}

{% block body %}
    <h1>{{ message.subject }}</h1>
    <div class="card_owner">Afzender: {{ message.sender.name }}</div>
    <div class="card_owner">Datum: {{ message.date_created }}</div>
    <div class="card_description">{{ message.body | escape | markdown}}</div>
    <br>
    
    <button>{{ macro.confirm_redirect( "Verwijderen", "Wilt u dit bericht verwijderen?", url_for('admin.delete_message', message_id=message.id) ) }}</button>
    <button><a href="{{ url_for('admin.unread_message', message_id=message.id) }}">Markeren als ongelezen</a></button>
{% endblock %}