{% extends 'base.html' %}

{% block steps %}
    {% if current_user.role.edit_users %}<a href="{{ url_for('admin.index') }}" class="step">Gebruikers</a>{% endif %}
{% endblock %}

{% block page_title %}
    {% if user == current_user %}
        Mijn account
    {% else %}
        {{ user.name }} 
    {% endif %}
{% endblock %}

{% block tabs %}
    <button class="tablinks" onclick="switch_tab(event, 'us_messages')" id="defaultOpen">Berichten</button>
    <button class="tablinks" onclick="switch_tab(event, 'us_options')" id="defaultOpen">Opties</button>
    <button class="tablinks" onclick="switch_tab(event, 'us_info')">Informatie</button>
{% endblock %}

{% block body %}
<div id="us_messages" class="tabcontent">
    <div class="text_area">

        {% if current_user == user %}   

        <h1>Inbox</h1>
        {% if current_user.messages_list() | count > 0 %}
        <div class="card_area">
            {% for message in current_user.messages_list() %}
                <a href="{{ url_for('admin.message', message_id=message.id) }}">
                    <div class="card">
                        <div class="card_title">
                            {{ message.subject }} {% if message.unread %}(nieuw){% endif %}
                        </div>
                        <div class="card_owner">Van 
                            {% if message.system %}
                                Systeem ({{ message.sender.name }})
                            {% else %}
                                {{ message.sender.name }}
                            {% endif %}
                             op {{ message.date_created.strftime('%d-%m-%Y') }}.
                        </div>
                        <div class="card_description">
                            {{ message.body | escape | truncate(200) | markdown }}
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
        {% else %}
            <div>Geen berichten</div>
        {% endif %}

        <h1>Outbox</h1>
        {% if current_user.messages_sent | count > 0 %}
                <table>
                    <tr>
                        <th>Onderwerp</th>
                        <th>Ontvanger</th>
                        <th>Datum</th>
                    </tr>
                    {% for message in current_user.messages_sent %}
                        <tr>
                            <td><a href="{{ url_for('admin.message', message_id=message.id) }}" {% if message.unread %} class="unread"{% endif %}>{{ message.subject }}</a></td>
                            <td>
                                <a href="{{ url_for('admin.user', id=message.recipient.id) }}">{{ message.recipient.name }}</a>
                                
                            </td>
                            <td>{{ message.date_created }}</td>
                        </tr>
                    {% endfor %}
                </table>
        {% else %}
            <div class="collapsible_content">Geen berichten</div>
        {% endif %}
        <br>

    {% endif %}
    </div>
</div>

<div id="us_options" class="tabcontent">
    <div class="text_area">

        {% if user.edit_allowed() %}
        <h1>Opties</h1>
        <div class="div_options">
            <ul>
                {% if user == current_user %}<a href="{{ url_for('main.logout') }}"><li class="option">Uitloggen</li></a>{% endif %}
                <a href="{{ url_for('admin.edit_user', user_id=user.id) }}"><li class="option">Gebruiker aanpassen</li></a>
                <a href="{{ url_for('admin.change_password', user_id=user.id) }}"><li class="option">Wachtwoord veranderen</li></a>
                <a href="{{ url_for('admin.new_message', recipient_id=user.id) }}"><li class="option">Stuur {{ user.name }} een bericht</li></a>
                <li>{{ macro.confirm_redirect( "Gebruiker verwijderen", user.name+" verwijderen?", url_for('admin.delete_user', user_id=user.id) ) }}</li>
            </ul>
        </div>
        {% endif %}
    </div>
</div>

<div id="us_info" class="tabcontent">
    <div class="text_area">
            <table class="sortable">
                <thead>
                    <tr>
                        <th>Kenmerk</th>
                        <th>Waarde</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Id</td>
                        <td>{{ user.id }}</td>
                    </tr>
                    <tr>
                        <td>Aangemaakt</td>
                        <td>{{ user.date_created }}</td>
                    </tr>
                    <tr>
                        <td>Laatst gezien</td>
                        <td>{{ user.last_seen }}</td>
                    </tr>
                    <tr>
                        <td>Rol</td>
                        <td><a href="{{ url_for('admin.roles') }}">{{ user.role.name }}</a> ({{ user.role_id }})</td>
                    </tr>
                    <tr>
                        <td>E-mail</td>
                        <td>{{ user.email }}</td>
                    </tr>
                    <tr>
                        <td>Link</td>
                        <td>{{ user.link }}</td>
                    </tr>
                    <tr>
                        <td>Inloggen</td>
                        <td>{% if user.active %}Toegestaan{% else %}Niet toegestaan{% endif %}</td>
                    </tr>
                </tbody>
            </table>
    </div>
</div>

{% endblock %}