{% extends 'base.html' %}

{% block page_title %}
Dashboard
{% endblock %}

{% block body %}
    <div id="ws_upcoming_cards"
        hx-get="{{ url_for('main.ws_upcoming') }}"
        hx-trigger="load"
        hx-target="this"
        hx-swap="innerHTML">
    Werksessies laden...
    </div>

    <div id="ws_new_cards"
        hx-get="{{ url_for('main.ws_new') }}"
        hx-trigger="load"
        hx-target="this"
        hx-swap="innerHTML">
    Tools laden...
    </div>
    
    {% if current_user.unread_message_alert() %}
        <h1>Nieuwe berichten</h1>
        <div class="card_area">
            {% for message in current_user.unread_messages_list() %}
            <a href="{{ url_for('admin.message', message_id=message.id) }}">
                <div class="card">
                
                    <div class="card_title">{{ message.subject }}</div>
                    <div class="card_info">
                        {% if message.sender.name|length >0 %}
                        Van {{ message.sender.name }} op
                        {% endif %}
                        {{ message.deliver_after.strftime('%d-%m-%Y') }}
                    </div>
                    <div class="card_description">
                        {{ message.body | escape | markdown}}
                    </div>
            
                </div>
            </a>
            {% endfor %}
        
        </div>
    {% endif %}

{% endblock %}