{% extends 'base.html' %}

{% block steps %}
{% endblock %}

{% block page_title %}
    Instellingen
{% endblock %}

{% block search %}
{% endblock %}

{% block options %}
{% endblock %} 


{% block body %}


    <div class="tab_bar">
        <button class="tablinks" onclick="switch_tab(event, 'ws_owned')" id="defaultOpen">Mijn sessies</button>
        <button class="tablinks" onclick="switch_tab(event, 'ws_shared')">Gedeelde sessies</button>
        <button class="tablinks" onclick="switch_tab(event, 'ws_archived')">Gearchiveerde sessies</button>
    </div>

    <div id="ws_owned" class="tabcontent">


{% endblock %}