<div>
    {% if filter is not none %}
        <a hx-get="{{ url_for('catalog.cat_cards') }}"
            hx-trigger="click"
            hx-target="#catalog_list"
            hx-swap="innerHTML">
                <button type="button">&#10060; Wis filter <i></i>
                </button>
            </a>
            <div>{{ filter }}</div>
            <br>
    {% endif %}
</div>

<div class="text_area">
    <form method="POST">
        <input type="hidden" id="cat_selection" name="cat_selection" value="cat_selection">
        <table class="sortable">
            <thead>
                <tr>
                    {% if current_user.role.edit_catalog %}
                        <th class="sorttable_nosort">
                            <input type="checkbox" name="sync_all" id="sync_all" value="sync_all" onclick="document.getElementById('with_selection').style.visibility='visible'; sync_all_checkboxes()">
                        </th>
                    {% endif %}
                    <th>Instrument</th>
                    <th>Beschrijving</th>
                    <th>Eigenaar</th>
                    <th>Kleur</th>
                </tr>
            </thead>
            <tbody>
                {% for instrument in instruments | sort(attribute='name') %}
                    <tr>
                        {% if current_user.role.edit_catalog %}
                            <td>
                                <label>
                                    <input type="checkbox" class="checkbox" name="ins:::{{ instrument.name }}" value="{{ instrument.id }}" onclick="document.getElementById('with_selection').style.visibility='visible';">
                                </label>
                            </td>
                        {% endif %}
                        <td><a href="{{ url_for('catalog.show_instrument', id=instrument.id) }}">{{ instrument.name }}</a></td>
                        <td class="tooltip">
                            {{ instrument.introduction | markdown | escape | truncate(100) }}
                            <div class="tooltiptext">
                                {% for tag_assignment in instrument.tags %}
                                <span class="tag 
                                    {% if tag_assignment.multiplier >= 1 %}plus{% endif %}
                                    {% if tag_assignment.multiplier < 1 %}min{% endif %}">
                                    {{ tag_assignment.tag.name }}
                                </span>
                                {% endfor %}
                            </div>
                        </td>
                        <td>{{ instrument.owner.name }}</td>
                        <td style="background-color:{{instrument.color}}; text-align:center;"><span style="color:{{instrument.text_color}}; font-style:italic;">Abc</span></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>    
        
        <div id="with_selection" class="controls" style="visibility:hidden;">
            <h1>Selectie</h1>
                <div style="display:grid; grid-template-columns: auto auto auto; gap:2px 10px; align-items:center;">
                    <div>
                        <button 
                            hx-post="{{ url_for('catalog.edit', operation='add_tag') }}"
                            hx-trigger="click"
                            hx-target="#catalog_list"
                            hx-swap="innerHTML">
                            Tag toevoegen
                        </button>
                        <button
                            hx-post="{{ url_for('catalog.edit', operation='remove_tag') }}"
                            hx-trigger="click"
                            hx-target="#catalog_list"
                            hx-swap="innerHTML">
                            Tag verwijderen
                        </button>
                    </div>
                    <div>
                        <button
                            hx-post="{{ url_for('catalog.edit', operation='color') }}"
                            hx-trigger="click"
                            hx-target="#catalog_list"
                            hx-swap="innerHTML">
                            Kleuren wijzigen
                        </button>
                    </div>
                    <div>
                        <button class="delete"
                            hx-post="{{ url_for('catalog.edit', operation='delete') }}"
                            hx-trigger="click"
                            hx-target="#catalog_list"
                            hx-swap="innerHTML">
                            Verwijderen
                        </button>
                    </div>
                    <div>
                        <label for="tag">Tag: </label>
                        <select name="tag" id="tag">
                            {% for tag in tags %}
                                <option value="{{ tag.id }}">{{ tag.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div>
                        Tekst: <input type="color" id="text_color" name="text_color">
                        Achtergrond: <input type="color" id="color" name="color">  
                    </div>
                    <div>
                        <label><input type="checkbox" name="confirm_delete" value="confirm_delete">Bevestig verwijderen</label>  
                    </div>
                </div>


        

                <!-- <button
                    hx-post="{{ url_for('catalog.edit', operation='export_json') }}"
                    hx-trigger="click"
                    hx-target="#with_selection"
                    hx-swap="innerHTML">
                    Exporteren naar JSON
                </button>
                <button
                    hx-post="{{ url_for('catalog.edit', operation='export_word') }}"
                    hx-trigger="click"
                    hx-target="#with_selection"
                    hx-swap="innerHTML">
                    Exporteren naar Word
                </button>    -->
                
                        

            <button
                hx-get="{{ url_for('catalog.cat_table') }}"
                hx-trigger="click"
                hx-target="#catalog_list"
                hx-swap="innerHTML">Annuleren
            </button>
        </div>
    </form>
</div>

<script nonce="{{ nonce }}" src="{{url_for('static', filename='scripts/sort_table.js')}}"></script>
<script nonce="{{ nonce }}" src="{{url_for('static', filename='scripts/sync_all_checkboxes.js')}}"></script>
