<div class="text_area">
    <form method="POST">
        <input type="hidden" id="cat_selection" name="cat_selection" value="cat_selection">
        <table class="sortable">
            <thead>
                <tr><th class="sorttable_nosort"></th>
                    <th>Instrument</th>
                    <th>Beschrijving</th>
                    <th>Eigenaar</th>
                </tr>
            </thead>
            <tbody>
                {% for instrument in instruments | sort(attribute='name') %}
                    <tr>
                        <td>
                            <label>
                                <input type="checkbox" name="ins:::{{ instrument.name }}" value="{{ instrument.id }}" onclick="document.getElementById('with_selection').style.visibility='visible';">
                            </label>
                        </td>
                        <td>{{ instrument.name }}</td>
                        <td class="tooltip">
                            {{ instrument.introduction | markdown | escape | truncate(100) }}
                            <div class="tooltiptext">
                                {% for tag_assignment in instrument.tags %}
                                <span class="tag 
                                    {% if tag_assignment.multiplier >= 1 %}plus{% endif %}
                                    {% if tag_assignment.multiplier < 1 %}min{% endif %}">
                                    {{ tag_assignment.tag.name }}
                                </span>
                                {% endfor %}
                            </div>
                        </td>
                        <td>{{ instrument.owner.name }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>    
        
        <div id="with_selection" class="controls" style="visibility:hidden;">
            <h1>Selectie</h1>
            <div>
                <button 
                    hx-post="{{ url_for('catalog.edit_add_tag') }}"
                    hx-trigger="click"
                    hx-target="#cat_all"
                    hx-swap="innerHTML">
                    Tag toevoegen
                </button>
                <button
                    hx-post="{{ url_for('catalog.edit_remove_tag') }}"
                    hx-trigger="click"
                    hx-target="#cat_all"
                    hx-swap="innerHTML">
                    Tag verwijderen
                </button>
                <button
                    hx-post="{{ url_for('catalog.edit_background_color') }}"
                    hx-trigger="click"
                    hx-target="#cat_all"
                    hx-swap="innerHTML">
                    Achtergrondkleur wijzigen
                </button>
                <button
                    hx-post="{{ url_for('catalog.edit_text_color') }}"
                    hx-trigger="click"
                    hx-target="#cat_all"
                    hx-swap="innerHTML">
                    Tekstkleur wijzigen
                </button>
                <button
                    hx-post="{{ url_for('catalog.edit_export_json') }}"
                    hx-trigger="click"
                    hx-target="#with_selection"
                    hx-swap="innerHTML">
                    Exporteren naar JSON
                </button>
                <button
                    hx-post="{{ url_for('catalog.edit_export_word') }}"
                    hx-trigger="click"
                    hx-target="#with_selection"
                    hx-swap="innerHTML">
                    Exporteren naar Word
                </button>   
                <button class="delete"
                    hx-post="{{ url_for('catalog.edit_delete') }}"
                    hx-trigger="click"
                    hx-target="#cat_all"
                    hx-swap="innerHTML">
                    Verwijderen
                </button>
                <label><input type="checkbox" name="confirm_delete" value="confirm_delete">Bevestig verwijderen</label>          
            </div>
            <button
                hx-get="{{ url_for('catalog.cat_table') }}"
                hx-trigger="click"
                hx-target="#cat_all"
                hx-swap="innerHTML">Annuleren
            </button>
        </div>
    </form>
</div>

<script nonce="{{ nonce }}" src="{{url_for('static', filename='scripts/sort_table.js')}}"></script>