<div>
    <a 
        hx-get="{{ url_for('catalog.cat_cards') }}"
        hx-trigger="click"
        hx-target="#catalog_list"
        hx-swap="innerHTML">
        <button>Kaarten</button>
    </a>

    {% if filter is not none %}
            <a hx-get="{{ url_for('catalog.cat_cards') }}"
                hx-trigger="click"
                hx-target="#catalog_list"
                hx-swap="innerHTML">
                    <button type="button">&#10060; Wis filter <i>{{ filter }}</i>
                    </button>
                </a>
                
        <br>
    {% else %}
        <a href="{{ url_for('catalog.add_instrument') }}">
            <button>Nieuw instrument maken</button>
        </a>
        <a href="{{ url_for('catalog.import_instrument') }}">
            <button>Instrument importeren</button>
        </a>
    {% endif %}
</div>

<div class="text_area">


    <table class="sortable">
        <thead>
            <tr>
                <th>Instrument</th>
                <th>Beschrijving</th>
            </tr>
        </thead>
        <tbody>
            {% for instrument in instruments %}
                <tr>
                    <td style="color:{{ instrument.text_color }}; background-color:{{ instrument.color }};">
                        <a href="{{ url_for('catalog.show_instrument', id=instrument.id) }}">
                            {{ instrument.name}}
                        </a>
                    </td>
                    <td>
                        {{ instrument.introduction | markdown | escape }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script nonce="{{ nonce }}" src="{{url_for('static', filename='scripts/sort_table.js')}}"></script>