{% extends 'base.html' %}

{% block steps %}
    <a href="{{ url_for('catalog.index') }}" class="step">Instrumenten</a>
    {% if instrument is not none %}
        <a href="{{ url_for('catalog.show_instrument', id=instrument.id) }}" class="step">{{ instrument.name }}</a>

    {% else %}

    {% endif %}
{% endblock %}

{% block page_title %}
    {% if instrument is none %}
        Instrument toevoegen
    {% else %}
        Instrument aanpassen
    {% endif %}
{% endblock %}

{% block body %}
    <form method="POST">
        {{ form.csrf_token }}
        <table class="settings">
            <tr>
                <td>{{ form.name.label }}</td>
                <td>{{ form.name }}</td>
            </tr>
            <tr>
                <td>
                    {{ form.introduction.label }}
                    {{ macro.markdown_help() }}
                </td>
                <td>{{ form.introduction }}</td>
            </tr>
                <td>{{ form.referenced_elsewhere.label }}</td>
                <td>{{ form.referenced_elsewhere }}</td>
            <tr>
                <td>{{ form.reference_link.label }}</td>
                <td>{{ form.reference_link }}</td>
            </tr>
            <tr>
                <td>
                    {{ form.description.label }}
                    {{ macro.markdown_help() }}
                </td>
                <td>{{ form.description }}</td>
            </tr>
            <tr>
                <td>
                    {{ form.considerations.label }}
                    {{ macro.markdown_help() }}
                </td>
                <td>{{ form.considerations }}</td>
            </tr>
            <tr>
                <td>
                    {{ form.examples.label }}
                    {{ macro.markdown_help() }}
                </td>
                <td>{{ form.examples }}</td>
            </tr>
            <tr>
                <td>
                    {{ form.links.label }}
                    {{ macro.markdown_help() }}
                </td>
                <td>{{ form.links }}</td>
            </tr>
            <tr>
                <td>Tekstkleur kaart</td>
                <td>
                    {{ form.text_color }}
                </td>
            </tr>
            <tr>
                <td>Achtergrondkleur kaart</td>
                <td>
                    {{ form.color }}
                </td>
            </tr>
            <tr>
                <td>{{ form.owner.label }}</td>
                <td>{{ form.owner }}</td>
            </tr>
        </table>
        <br>
        {{ form.submit }}
    </form>
{% endblock %}