{% extends 'base.html' %}

{% block page_title %}
Catalogus
{% endblock %}

{% block tabs %}
    <button class="tablinks" onclick="switch_tab(event, 'cat_all')" id="defaultOpen">Instrumenten</button>
    <button class="tablinks" onclick="switch_tab(event, 'cat_options')">Opties</button>
{% endblock %}


{% block body %}
<div id="cat_all" class="tabcontent">
    <div id="catalog_list"
        hx-get="{{ url_for('catalog.cat_cards') }}"
        hx-trigger="load"
        hx-target="this"
        hx-swap="innerHTML">
        {% include 'load_animation.html' %}

    </div>
</div>
<div id="cat_options" class="tabcontent">
    <div class="text_area">
        <h1>Opties</h1>
        <ul>
            <li>
                <a href="{{ url_for('export.catalog') }}">Exporteer catalogus naar Word</a>
            </li>
        </ul>
        <h1>Filteren</h1>
        <h2>Op beheerder</h2>
        <ul>
            <li><a onclick="switch_tab(event, 'cat_all')"
                hx-get="{{ url_for('catalog.instruments_current_user') }}"
                hx-trigger="click"
                hx-target="#catalog_list"
                hx-swap="innerHTML">
                    Laat alleen instrumenten zien die ik beheer
                </a>
            </li>
        </ul>
        <h2>Op tag</h2>
        <form method="POST">
            <input type="hidden" id="tag_filter" name="tag_filter" value="tag_filter">
            <button onclick="switch_tab(event, 'cat_all')"
                hx-post="{{ url_for('catalog.filter_by_tags') }}"
                hx-trigger="click"
                hx-target="#catalog_list"
                hx-swap="innerHTML"
                >Filteren
            </button>
            {% for tag in tags %}
            <p>
                <label>
                    <input type="checkbox" name="tag:::{{ tag.name }}" value="{{ tag.id }}">
                    {{ tag.name }}
                </label>
            </p>
            {% endfor %}
        </form>
    </div>
</div>

{% endblock %}