{% extends 'base.html' %}

{% block steps %}
{% endblock %}

{% block page_title %}
    Instrumenten
{% endblock %}

{% block instrumenten %}   
    {% if edit_catalog_allowed %}
        <a href="{{ url_for('catalog.add_instrument') }}"><div class="instrument">+ Nieuw instrument maken</div></a>
        <a href="{{ url_for('catalog.import_instrument') }}"><div class="instrument">Instrument importeren</div></a>
        <a href="{{ url_for('export.catalog') }}"><div class="instrument">Exporteer catalogus naar Word</div></a>
        <a href="{{ url_for('catalog.tags') }}"><div class="instrument">Taglijst aanpassen</div></a>  
    {% endif %}
     
    <br>
    <p class="instrument collapsible">Tag filter</p>
    <div class="collapsible_content">
        {% for tag in tags %}
                <a href="{{ url_for('catalog.index', tag_id = tag.id) }}" class="tag">
                    {{ tag.name }}
                </a>
        {% endfor %}
    </div>
    {% if not filter_tag == none %}
        <a href="{{ url_for('catalog.index') }}" class="instrument">
            <button type="button">&#10060; </button> Filter: {{ filter_tag.name }}</a>    
        </a>
    {% endif %}

{% endblock %} 


{% block body %}
    <table>
        <tr>
            <th>Instrument</th>
            <th>Beschrijving</th>
        </tr>
        {% for instrument in instruments %}
            <tr>
                <td><a href="{{ url_for('catalog.show_instrument', id=instrument.id) }}">{{ instrument.name }}</a></td>
                <td>{{ instrument.introduction | escape | truncate(200) | markdown }}</td>
            </tr>
        {% endfor %}
    </table>
    <br>




{% endblock %}