{% extends 'base.html' %}

{% block page_title %}
{{ instrument.name }}
{% endblock %}

{% block tabs %}
<div class="tab_bar">
    <button class="tablinks" onclick="switch_tab(event, 'ins_description')" id="defaultOpen">Beschrijving</button>
    <button class="tablinks" onclick="switch_tab(event, 'ins_tags')" id="defaultOpen">Tags</button>
    <button class="tablinks" onclick="switch_tab(event, 'ins_remarks')">Opmerkingen</button>
    <button class="tablinks" onclick="switch_tab(event, 'ins_export')">Exporteren</button>
</div>
{% endblock %}

{% block contents %}
    <ul>
        {% for i in instruments %}
        <li class="contents_item {% if i == instrument %}selected{% endif %}">
            <a href="{{ url_for('catalog.show_instrument', id=i.id) }}">{{ i.name }}</a>
        </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block body %}
<div id="ins_description" class="tabcontent">
    <div class="text_area">

        <div class="instrument_introduction">{{ instrument.introduction | escape | markdown }}</div>
        {% if instrument.referenced_elsewhere %}
        <br>
        <a href="http://{{ instrument.reference_link }}"><button>Link naar de beschrijving van dit
                instrument</button></a>
        <br>
        {% else %}
        <h1>Beschrijving</h1>
        <div class="instrument_body">{{ instrument.description | escape | markdown }}</div>
        <h1>Overwegingen bij gebruik</h1>
        <div class="instrument_body">{{ instrument.considerations | escape | markdown }}</div>
        {% if instrument.examples | length > 0 %}
            <h1>Voorbeelden</h1>
            <div class="instrument_body">{{ instrument.examples | escape | markdown }}</div>
        {% endif %}
        {% if instrument.links | length > 0 %}
            <h1>Links</h1>
            <div class="instrument_body">{{ instrument.links | escape | markdown }}</div>
        {% endif %}
        <h1>Eigenaar</h1>
        <span class="user"><a href="{{ url_for('admin.user', id=instrument.owner.id) }}">{{ instrument.owner.name }}</a></span>
        {% endif %}
        <div>
            <br>
            <a href="{{ url_for('catalog.edit_instrument', id=instrument.id) }}"><button type="button">✎ Bewerken</button></a>
        </div>
    </div>
</div>

<div id="ins_tags" class="tabcontent">
    <div class="text_area">
        <ul>
            {% for tag_assignment in instrument.tags %}
            <li><span class="tag 
                                    {% if tag_assignment.multiplier >= 1 %}plus{% endif %}
                                    {% if tag_assignment.multiplier < 1 %}min{% endif %}">
                <a href="{{ url_for('catalog.edit_tag_assignment_to_instrument', instrument_id=instrument.id, tag_assignment_id=tag_assignment.id) }}">
                
                    {{ tag_assignment.tag.name }}
                </a>
            </span></li>
            {% endfor %}
        </ul>
        <div>
            <br>
            <a href="{{ url_for('catalog.instrument_tags', id=instrument.id) }}"><button type="button">✎ Bewerken</button></a>
        </div>
    </div>
</div>

<div id="ins_remarks" class="tabcontent">
    <div class="text_area">
        <table class="sortable">
            <thead>
                <tr>
                    <th>Afzender</th>
                    <th>Datum</th>
                    <th>Opmerking</th>
                    <th>Acties</th>
                </tr>
            </thead>
            <tbody>
                {% for remark in instrument.remarks %}
                <tr>
                    <td>
                        <a href="{{ url_for('admin.user', id=remark.sender.id) }}"
                            class="{% if not remark.active %}inactive{% endif %}">
                            {{ remark.sender.name }}
                        </a>
                    </td>
                    <td>
                        <span class="{% if not remark.active %}inactive{% endif %}">{{ remark.date_created }}</span>
                    </td>
                    <td>
                            {{ remark.remark | escape | truncate(100) | markdown }}

                    </td>
                    <td>
                        {% if remark.edit_allowed() %}
                        <a href="{{ url_for('catalog.edit_remark', instrument_id=instrument.id, remark_id=remark.id) }}">
                            <button type="button">✎ Bewerken</button>
                        </a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{{ url_for('catalog.add_remark', instrument_id=instrument.id) }}"><button>Opmerking toevoegen</button></a>
    </div>
</div>

{% if edit_catalog_allowed %}
    <div id="ins_export" class="tabcontent">
        <div class="text_area">
            <ul>
                <li><a href="{{ url_for('export.instrument', instrument_id=instrument.id) }}" class="option">Exporteren naar Word</a></li>
                <li><a href="{{ url_for('export.instrument_to_json', instrument_id=instrument.id) }}" class="option">Exporteren naar JSON</a></li>
                
            </ul>
        </div>
        
    </div>
{% endif %}


{% endblock %}