{% extends 'base.html' %}

{% block steps %}
{% endblock %}

{% block page_title %}
    Tags
{% endblock %}

{% block body %}
    {% if edit_catalog_allowed %}
        <h1>Nieuwe tag toevoegen</h1>
        <table>
            <tr>
                <th>Naam</th>
                <th colspan="2">Acties</th>
            </tr>
                <form method="POST">
                {{ form.csrf_token }}
                <tr>
                    <td>{{ form.name }}</td>
                    <td>{{ form.submit }}</td>
                </tr>
            </form>
        </table>
    {% endif %}

    <h1>Tag overzicht</h1>
    <table>
        <tr>
            <th>Naam</th>
            <th>Acties</th>
        </tr>
        {% for tag in tags %}
            <tr>
                <td><a href="{{ url_for('catalog.edit_tag', tag_id=tag.id) }}"><span class="tag">{{ tag.name }}</span></a></td>
                <td>

                    <a href="{{ url_for('analysis.tag', tag_id=tag.id) }}"><button>Analyse</button></a>
                </td>
                
            </tr>
        {% endfor %}
    </table>
{% endblock %}