/* Standard */

html,body {
    font-family: "Poppins", sans-serif;
    line-height: 1.3;
    padding: 0px;
    margin: 0px;
    font-size: 11pt;
}

a {
    color: green;
    text-decoration: inherit; 
}

h1 {
    /* padding-top: 10px; */
    font-size: x-large;
    color: black;
}

h2 {
    font-size: large;

}

h3 {
    font-style: italic;
}

button {
    border: 1px solid lightgray;
    background-color: #EEEEEE;
    border-radius: 3px;
}

button:hover {
    background-color: #cfd4db;
}

table {
    /* width: 80%; */
    border: 0px;
}

th {
    color: black;
    text-align: left;
    text-transform: uppercase;
    font-weight: normal;
    color: #59738E;
    font-size: x-small;
    border: none;
}

td {
    text-align: left;
    vertical-align: top;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3px;
}

tr:nth-child(even) {
    background-color: #f0f6fe;
}

tr:hover td{
    background-image: linear-gradient(lightskyblue, lightskyblue, rgb(102, 179, 227));
}

/*  Layout */
.div_main {
    display: grid;
    height: 100vh;
    grid-template-columns: 240px minmax(0, min-content) auto;
    grid-template-rows: 65px 35px 65px 1fr min-content;
    grid-template-areas: 
        'logo     title     title '
        'logo     steps     steps '
        'sidebar  tabs      tabs  '
        'sidebar  contents  workarea  '
        'admin    contents  workarea  ';
}

.div_logo {
    grid-area: logo;
    background-color: #000000;
}

.div_title {
    grid-area: title;
    margin: 12px;
    padding: 3px;
    background-color: white;
    font-size: xx-large;
    font-weight: bold;
    z-index: 99;
}

.div_steps {
    grid-area: steps;
    padding: 0px 15px 0px 15px;
    color: lightskyblue;
    font-weight: bold;;
}

.div_tabs {   
    grid-area: tabs;
    margin: 12px;
    padding: 3px;
    background-color: #F7FAFC;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: #111111;
    text-decoration: none;
    z-index: 99;
}

.div_tabs:empty {
    display: none;
}


.div_sidebar {
    grid-area: sidebar;
    padding: 15px;
    background-color: #141414;
}

.div_contents {
    grid-area: contents;
    height: fit-content;
    margin: 12px;
    padding: 3px;
    background-color: #F7FAFC;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: #111111;
}

.div_contents:empty {
    display: none;
}

.div_workarea {
    grid-area: workarea;
    margin: 12px;
    padding: 25px;
    background-color: white;
    overflow: auto;
}

.div_admin {
    grid-area: admin;
    padding: 15px;
    background-color: #141414;
    padding-bottom: 35px;
}

.card_area {
}

.text_area {
    width: 800px;
    justify-self: center;
}

/* Elements */
.option_header {
    width: 150px;
    color: #5e84a9;
    font-weight: bold;
    text-transform: uppercase;
    padding: 14px 14px 7px 14px;
    font-size: small;
}

.option {
    padding: 3px 14px 3px 14px;
}

.option:hover {
    text-decoration: underline;;
    transition: 0.3s;
}

.sidebar_option_header {
    display: block;
    color: green;
    font-weight: bold;
    text-transform: uppercase;
    padding: 14px 14px 7px 14px;
    margin-top: 7px;
    text-decoration: none;
    font-size: small;
}

.sidebar_option {
    display: block;
    color: rgb(255, 255, 255);
    padding: 7px 14px 7px 14px;
    text-decoration: none;
}

.sidebar_option:hover {
    background-color: #cacfd2;
    border-radius: 3px;
    color: black;
    transition: 0.3s;
}

.step {
    font-weight: bold;
    color: #59738E;
}

/* Tabs */
.tab_bar {
    display: inline;
    overflow: hidden;
  }
  
  .tab_bar button {
    font-weight: bold;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 8px 50px;
    /* border-radius: 3px; */
    transition: 0.3s;
    border: 1px;
    border-radius: 0px;
    border-bottom: 4px solid #e9ecf2;
  }
  
  .tab_bar button:hover {
    background-color: #e9ecf2;
    border-bottom: 4px solid #b5b5b5;
  }
  
  .tab_bar button.active_tab {
    color: black;
    /* background-color: #59738E; */
    border-bottom: 4px solid #59738E;
  }
  
  .tabcontent {
    display: block;
  }

/* Search */

.search_form {
    padding: 7px 14px 7px 14px;
    color: black;
    text-decoration: none;
    font-size: small;
    border: none;
    display: block;
    color: green;

}

.search_form input {
    padding: 3px 14px 3px 14px;
    border: 1px solid lightgray;
    border-radius: 3px;
}

.search {
    margin-bottom: 30px;
}

.results_summary {
    font-size: small;
    display: inline;
    padding-top: 2px;
    padding-bottom: 25px;
}

.results_summary:hover {
    text-decoration: underline;
}

.results_found {
    font-weight: bold;
}


.search_result {
    font-weight: bold;
    padding-top: 2px;
    padding-bottom: 2px;
}

.search_result:hover {
    text-decoration: underline;
}

.search_result_type {
    text-transform: uppercase;
    font-size: small;
}

.search_result_context {
    font-style: italic;
}

/* Generic cards */

.card {
    display: inline-block;
    vertical-align: middle;
    width: 300px;
    height: 200px;
    padding: 10px;
    margin-right: 15px;
    margin-bottom: 15px;
    background-image: linear-gradient(lightskyblue, lightskyblue, rgb(102, 179, 227));
    color: black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 3px;
    overflow: hidden;
    scrollbar-width: none;
    animation: fadeInAnimation ease 0.7s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.new {
    background-image: linear-gradient(rgb(93, 206, 133), rgb(93, 206, 133), rgb(61, 209, 113));
}

.card:hover {
    background-image: linear-gradient(rgb(80, 188, 255), rgb(80, 188, 255), rgb(43, 171, 251));
    overflow-y: scroll;
}

.new:hover {
    background-image: linear-gradient(rgb(61, 209, 113), rgb(61, 209, 113), rgb(3, 182, 66));
}

.card_title {
    font-weight: bold;
    font-size: large;
    padding-bottom: 5px;
}

.card_description {
    padding-bottom: 3px;
}


.card_owner {
    font-size: small;
    font-weight: bold;
    padding-bottom: 3px;
}

/* Messages */
.message {
    padding: 0px 10px 10px 10px;
    margin-right: 15px;
    margin-bottom: 15px;
    border-radius: 6px;
}

.unread {
    font-weight: bold;
}
.message:hover {
    background-color: #cfd4db;
}

.message_more {
    float: right;
}

.future_date {
    color: #AAAAAA;
}

/* Other formatting */

.disabled {
    color: #CCCCCC;
}

.enabled {
    color: black;
}

.property {
    font-size: smaller;
    color:black;
    padding-left: 10px;
    padding-right: 10px;
    border:1px solid lightgrey;
    white-space:nowrap;
}

.tag {   
    font-weight: bold;
    font-size: small;
    color: grey;
    padding-left: 10px;
    padding-right: 10px;
    border:1px solid lightgrey;
    white-space:nowrap;
}

.tag:hover {
    background-color: lightskyblue;
}

.warning {
    color: red;
}

.plus {
    font-weight: bold;
    color:darkblue;
}

.plus::before {
    content: '+';
}

.min {
    font-weight: bold;
    color:red;
}

.min::before {
    content: '-';
}


.instrument_introduction {
    font-weight: bold;
}

.question {
    font-style: italic;
    font-size: large;
}

.collapsible_content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.collapsible {
    cursor: pointer;
    display: inline;
    border: none;
    text-align: left;
    outline: none;
    width:100%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.collapsible:before {
    content: "🡢"; 
    float: left;
    margin-right: 5px;
}

.active:before {
    content: "🡣"; 
}

