/* Standard */
:root {
    --dark-blue: #0f2841;
    --light-blue: #0e9ed5;
    --green: #3b7d23;
    --orange: #c04f14;
    --mid-grey: #bfbfbf;
    --light-grey: #f7f5f0;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

html,
body {
    font-family: sans-serif;
    line-height: 1.5em;
    padding: 0px;
    margin: 0px;
}

p {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
    margin-top: 0px;
    margin-bottom: 0px;
}

a {
    color: inherit;
    text-decoration: underline;
    text-decoration-color: var(--light-blue);
}

h1, h2, h3 {
    font-family: "Poppins", sans-serif;
}
@media only screen and (max-width: 900px) {
    h1 {
        font-size: large;
    }
}

ul {
    /* list-style-type: none; */
    margin: 0;
    padding-left: 1.5em;

}

button {
    border: 1px solid var(--mid-grey);
    background-color: var(--light-grey);
    min-height: 1.7em;
    border-radius: 2px;
    min-width: 150px;
    
}
    button a {
        text-decoration: none;
    }

    button:hover {
        background-color: var(--dark-blue);
        color: white;
    }

    .button.delete {
        background-color: var(--orange);
    }

input[type=submit] {
    border: 1px solid var(--mid-grey);
    background-color: var(--light-grey);
    height: 1.7rem;
    border-radius: 2px;
    min-width: 150px;
}
    input[type=submit]:hover {
        background-color: var(--orange);
        color: white;
    }

input {
    border: none;
    background-color: var(--light-grey);
    border: 1px solid var(--mid-grey);
    font-size: inherit;
    height: 1.7rem;
}

table {
    background: var(--light-grey);
    border-radius: 6px;
    border-collapse: collapse;
    animation: fadeInAnimation ease 0.7s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  table a:hover {
    text-decoration: underline;
  }
  thead {
    border-bottom: solid 2px var(--light-blue);
  }
  th {
    border-bottom: 1px solid white;
    color: black;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    padding: 0.5em 1em;
    text-align: left;
  }
  td {
    padding: 0.65em 1em;
  }
  .disabled td {
    color: var(--mid-grey);
  }
  tbody tr {
    border-left: 4px solid var(--light-grey);
    transition:all  0.25s ease;
  }
  tbody tr:hover {
    border-left: 4px solid var(--light-blue);
  }
  

/*  Layout */
body {
    display: grid;
    height: 100vh;
    grid-template-rows: min-content min-content auto min-content;
    grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
}

header {
    grid-area: header;
    background-color: black;
    display: grid;
    grid-template-columns: auto min-content;
    grid-template-rows: auto;
    grid-template-areas: "modes logo";
    color: white;
    border-radius: 6px 6px 0px 0px;
    align-items: center;
    padding: 1rem 5rem;
    font-family: "Poppins", sans-serif;
}
    header a {
        text-decoration: none;
    }
    .logo {
        grid-area: logo;
        font-size: large;
    }
    @media only screen and (max-width: 900px) {
        .logo {
            display:none;
        }
    }

    .modes {
        grid-area: modes;
    }

    /* .tools {
        grid-area: tools;
        justify-content: right;
    } */

nav {
    grid-area: nav;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas:
        "title search"
        "steps  steps"
        "tabs  tabs  ";

    align-items: center;
    margin: 5rem 5rem 1rem 5rem;

}

    .title {
        grid-area: title;
        font-family: "Poppins", sans-serif;
        color: black;
        font-size: xx-large;
        font-weight: bold;
        padding: 0 0 1rem 0;
        line-height: 1em;
    }
    @media only screen and (max-width: 900px) {
        .title {
            font-size: x-large;
        }
    }

    .search {
        grid-area: search;
        display: flex;
        align-items: center;
        text-decoration: none;
        border: none;
    }
        .search input {
            border: none;
            background-color: var(--light-grey);
            border: 1px solid var(--mid-grey);
            border-radius: 6px;
            padding: 5px;
            font-size: smaller;
            height: 1.7rem;
        }
        
    .tabs {
        grid-area: tabs;
        display: flex;
        padding-top: 3rem;
        overflow: hidden;
        font-size: inherit;
        border-bottom: 1px solid var(--mid-grey);
    }
        /* .tabs:empty {
            display: none;
        } */
        .tabs button {
            background: inherit;
            outline: none;
            cursor: pointer;
            padding: 0rem 2rem 0rem 2rem;
            margin: 0 0.5rem 0 0;
            border: none;
            border-radius: 0px;
            font-size: inherit;
            width: auto;
        }        
        .tabs button:hover {
            border-bottom: solid 2px var(--dark-blue);
            color: black;
        }       
        .tabs button.active_tab {
            border-bottom: solid 2px var(--dark-blue);
        }

    .steps {
        grid-area: steps;
        display: flex;
        overflow: hidden;
        font-size: inherit;
    }
        .steps:empty {
            display: none;
        }
        .steps {
            background: inherit;
            color: var(--mid-grey);
            outline: none;
            cursor: pointer;
            border: none;
            border-radius: 0px;
            font-size: inherit;
        }    
        .step {
            margin-right: 2em;
        }
        .step:before {
            content: "⯇";
            margin-right: 0.5em;
        }    
        .step:hover {
            color: black;
        }
        .steps a {
            text-decoration: none;
        }
    
main {
    grid-area: main;
    padding: 1rem 5rem;
    display: grid;
    grid-template-columns: min-content 3fr;
    grid-template-areas: 
        "aside section ";
    overflow-y: scroll;
}
    aside {
        grid-area: aside;
        padding: 0rem 3rem 1rem 0;
        background-color: var(--light-grey);
    }
        aside:empty {
            display: none;
        }
        @media only screen and (max-width: 900px) {
            aside {
                border-top: 1px solid var(--mid-grey);
            }
        }
    section {
        grid-area: section;
        padding: 0;
        margin: 0;
    }

footer {
    grid-area: footer;
    background-color: black;
    color: white;
    align-items: center;
    padding: 1rem 5rem;
}

/* Phone changes  */

@media only screen and (max-width: 900px) {
    main {
        grid-area: main;
        display: grid;
        grid-template-columns: auto;
        grid-template-areas:
            "section"
            "aside";
        padding: 0.5rem 0 0;
    }
}
@media only screen and (max-width: 900px) {
    header {
        grid-area: header;
        display: grid;
        grid-template-columns: auto;
        grid-template-areas:
            "logo"
            "modes";
        padding: 0.5rem 0.5rem;
    }
}
@media only screen and (max-width: 900px) {
    nav {
        grid-area: nav;
        display: grid;
        grid-template-columns: auto;
        grid-template-areas:
            "title"
            "search"
            "steps"
            "tabs";
        padding: 0.5rem 0.5rem;
        margin: 0.5rem;

    }
}


/* Work area (contains cards or text, and sometimes also a contents bar) */
.card_area {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    padding-bottom: 2rem;    
}
@media only screen and (max-width: 900px) {
    .card_area {
        flex-direction: column;
        flex-grow: 1;
        flex-shrink: 0;
        
    }
}

.text_area {
    width: 100%;
    padding: 0 1em 1em 1em;
    background-color: white;
    border-radius: 5px;
}
@media only screen and (max-width: 900px) {
    .text_area {
        width: 90%;

    }
}

.focus_area {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login {
    background-color: var(--light-grey);
    border: 1px solid var(--mid-grey);
    padding: 1rem 3rem 2rem 3rem;
    border-radius: 6px;
    animation: fadeInAnimation ease 0.7s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
    .login input[type=submit] {
        width: 200px;
    }



/* Elements */
li.mode {
    /* font-weight: bold; */
    display: inline-flex;
    background-color: inherit;
    outline: none;
    cursor: pointer;
    padding: 0 1rem 0 0rem;
    font-size: small;
    text-decoration: none;
}

li.mode:hover {
    color: white;
    text-decoration:none;
}


li.selected {
    color: black;
    border-left: 4px solid var(--dark-blue);
}

.contents_item {
    padding-left: 1em;
    border-left: 4px solid var(--light-grey);
    /* line-height: 1.7em; */
    margin-bottom: 0.6em;
    list-style-type: none;
}
    .contents_item:hover {
        border-left: 4px solid var(--light-blue);
    }



/* Tabs */
.tabcontent {
    width: 100%;
    /* display: block; */
}

/* Search results*/
.search_result {
    margin-bottom: 2em;
}

.results_summary {
    font-size: small;
    display: inline;
    padding-top: 2px;
    padding-bottom: 25px;
}

.results_found {
    font-weight: bold;
}

.search_result_item {
    font-weight: bold;
    padding-top: 2px;
    padding-bottom: 2px;
}


.search_result_type {
    text-transform: uppercase;
    font-size: small;
}

.search_result_item:hover {
    text-decoration: underline;
}

.search_result_context {
    font-style: italic;
}

/* Cards */
.card {
    width: 350px;
    height: 325px;
    background-color: var(--light-grey);
    border-radius: 5px;
    padding: 0.2em 15px 0.2em 15px;
    overflow: hidden;
    scrollbar-width: none;
    animation: fadeInAnimation ease 0.7s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@media only screen and (max-width: 900px) {
    .card {
        /* height: 200px; */
        height: auto;
        max-height: 200px;;
        width: auto;
        margin-bottom: 0.7em;
    
    }
}
    .card.new {
        border: 1px dashed var(--mid-grey);
    }
    .card:hover {
        overflow-y: scroll;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    .card_title {
        font-family: "Poppins", sans-serif;
        color: black;
        font-weight: bold;
    }
    .card_description {
        color: var(--mid-grey);
        overflow: hidden;
        scrollbar-width: none;
    }
    .card_owner {
        font-size: x-small;
        text-transform: uppercase;
    }
    .card_area a {
        text-decoration: none;
    }


/* Messages */
.message {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    background-color: white;
    border: solid 1px transparent;
    border-radius: 5px;
    overflow: hidden;
    scrollbar-width: none;
}

.unread {
    font-weight: bold;
}

.message:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.message_more {
    float: right;
}

.future_date {
    color: var(--mid-grey);
}

/* Other formatting */

.disabled {
    color: var(--mid-grey);
}

.enabled {
    color: black;
}

.property {
    font-size: smaller;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid lightgrey;
    white-space: nowrap;
}

.tag {
    font-weight: bold;
    font-size: small;
    color: grey;
    padding: 0 0.5em 0 0.5em;
    margin:  0 0.5em 0 0.5em;
    border: 1px solid var(--mid-grey);
    white-space: nowrap;
}
    .tag:hover {
        background-color: var(--light-blue);
        color: white;
    }
    .tag a {
        text-decoration: none;
    }
    .warning {
        color: var(--orange);
    }

    .plus {
        font-weight: bold;
        color: var(--dark-blue);
    }

    .plus::before {
        content: '+';
    }

    .min {
        font-weight: bold;
        color: var(--orange);
    }

    .min::before {
        content: '-';
    }


.instrument_introduction {
    font-weight: bold;
}

.question {
    font-style: italic;
    font-size: large;
}

.collapsible_content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.collapsible {
    cursor: pointer;
    display: inline;
    border: none;
    text-align: left;
    outline: none;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.collapsible:before {
    content: "🡢";
    float: left;
    margin-right: 5px;
}

.active:before {
    content: "🡣";
}