/* Standard */

html,body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0px;
    margin: 0px;
}

a {
    color: green;
    text-decoration: inherit; 
}

p {
    margin-block-start: 0em;
    margin-block-end: 0em;
}

h1 {
    padding-top: 10px;
    font-size: x-large;
    color: black;
}

h2 {
    font-size: large;

}

h3 {
    font-style: italic;
}

table {
    width: 100%;
}

th {
    color: black;
    border-bottom: solid 1px #44546A;
    text-align: left;
    text-transform: uppercase;
    font-weight: normal;
    color: #59738E;
    font-size: x-small;
}

td {
    text-align: left;
    padding: 5px 10px 5px 0px;
    border-bottom: solid 1px #EEEEEE;
    border-left: 0px;
    border-right: 0px
    vertical-align: top;
}

tr:hover td{
    background-color: #f0f6fe ;
}

/*  Layout */

.divnav {
    display: block;
    color: #d7d7d7;
    background-color: #091e31;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-size: x-small;
}

.nav {
    padding-right: 20px;
    padding-left: 20px;
    color: #dbdbdb
}

.nav:hover {
    background-color: #4a5b6c;
    color: #FFFFFF;
    padding-top: 10px;
    padding-bottom: 10px;
}

.divtoolbar {
    background-color: #F7FAFC;
    display: grid;
    grid-template-columns: min-content auto;
    grid-template-rows: max-content max-content;
}

.tool {       
    font-size: smaller;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration-line: none;
}

.divlogo {
    grid-row: 1 / 3;
    padding: 15px;
    padding-left: 20px;
    padding-right: 40px;
}

.page_title {
    padding-top: 10px;
    font-size:xx-large;
    font-weight: bold;
}

.divsteps {   
    padding-right: 25px;
    padding-bottom: 15px;
    color: #111111;
    text-decoration: none;
}

.step {
    font-size: smaller;
    padding-right: 25px;
}

.step:after {
    content: " ▸"; 
}

.divcurrentstep {
    font-size:xx-large;
    font-weight: lighter;
}

.divmain {
    margin-top: 25px;
    margin-bottom: 50px;
    display:grid;
    grid-template-columns: 20%  auto;
}

.divinstrumenten {  
    display:block;
    padding-right: 15px;
    padding-left: 15px;
}

.divworkarea { 
    max-width: 1600px;
    margin-left: 25px;
    margin-right: 25px;
}


.instrument_section {
    display: block;
    color: black;
    font-weight: bold;
    padding-top: 14px;
    padding-left: 7px;
    padding-right: 7px;
    text-decoration: none;
    font-size: small;

}

.instrument {
    display: block;
    color: black;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 7px;
    padding-right: 7px;
    text-decoration: none;
    font-size: small;
}

.instrument:hover {
    background-color: #cacfd2;
}

/* Search */

.search_form {
    padding-top: 3px;
    padding-bottom: 14px;
    padding-left: 7px;
    padding-right: 7px;
}

.search_field {

}

.search_option {
    display: block;
    color: black;
    padding-top: 3px;
    padding-bottom: 3px;
    text-decoration: none;
    font-size: small;
}
.search {
    margin-bottom: 30px;
}

.results_summary {
    font-size: small;
    display: inline;
    padding-top: 2px;
    padding-bottom: 25px;
}

.results_summary:hover {
    text-decoration: underline;
}

.results_found {
    font-weight: bold;
}


.search_result {
    font-weight: bold;
    padding-top: 2px;
    padding-bottom: 2px;
}

.search_result:hover {
    text-decoration: underline;
}

.search_result_type {
    text-transform: uppercase;
    font-size: small;
}

.search_result_context {
    font-style: italic;
}

/* General cards */
.card {
    display: inline-block;
    vertical-align: middle;
    width: 260px;
    height: 260px;
    padding: 10px;
    margin-right: 15px;
    margin-bottom: 15px;;
    background-color: #F7FAFC;
    border: 1px solid white;
    border-radius: 6px;
    overflow: hidden;
    scrollbar-width: none;
}

.card:hover {
    background-color: #f0f6fe;
    overflow-y: scroll;
}

.card_title {
    font-weight: bold;
    font-size: large;
    color: black;
    padding-bottom: 5px;
}

.card_description {
    color: black;
}


.card_owner {
    font-size: small;
    color: black;
    padding-bottom: 3px;
}

/* Other formatting */

.disabled {
    color: #CCCCCC;
}

.enabled {
    color: black;
}

.property {
    font-size: smaller;
    color:black;
    padding-left: 10px;
    padding-right: 10px;
    border:1px solid lightgrey;
    white-space:nowrap;
}

.tag {   
    font-weight: bold;
    font-size: smaller;
    color: grey;
    padding-left: 10px;
    padding-right: 10px;
    border:1px solid lightgrey;
    white-space:nowrap;
}

.warning {
    color: red;
}

.plus {
    font-weight: bold;
    color:darkblue;
}

.plus::before {
    content: '+';
}

.min {
    font-weight: bold;
    color:red;
}

.min::before {
    content: '-';
}


.instrument_introduction {
    font-weight: bold;
}

.question {
    font-style: italic;
    font-size: large;
}

.collapsible_content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.collapsible {
    cursor: pointer;
    display: inline;
    border: none;
    text-align: left;
    outline: none;
    width:100%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.collapsible:before {
    content: "🡢"; 
    float: left;
    margin-right: 5px;
}

.active:before {
    content: "🡣"; 
}


.unread {
    font-weight: bold;
}
.message:hover {
    background-color: #f0f6fe ;
}

.message_more {
    float: right;
}

.future_date {
    color: #AAAAAA;
}