{% extends 'base.html' %}

{% block steps %}
<a href="{{ url_for('main.show_worksession', worksession_id=worksession.id) }}" class="step">{{ worksession.name}}</a>
{% if plan.id is not none %}
    <a href="{{ url_for('main.show_plan', worksession_id=worksession.id, plan_id=plan.id) }}" class="step">{{ plan.description}}</a>
{% endif %}
{% endblock %}

{% block tabs %}
    <button class="tablinks" onclick="switch_tab(event, 'plan_main')" id="defaultOpen">Informatie</button>
    <button class="tablinks" onclick="switch_tab(event, 'plan_ins')">Instrumenten</button>
{% endblock %}

{% block page_title %}
Interventieplan bij {{ worksession.name }}
{% endblock %}

{% block body %}
<form method="POST">
    <div id="plan_main" class="tabcontent">
        <div class="text_area">

            <table>
                <tr>
                    <td>
                        Beschrijving
                    </td>
                    <td>
                        <textarea name="plan_description" rows="5"
                            cols="100">{% if plan.description is not none %}{{ plan.description }}{% endif %}</textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        Datum
                    </td>
                    <td>
                        {{ plan.date.strftime('%Y-%m-%d') }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Overwegingen
                    </td>
                    <td>
                        <textarea name="plan_motivation" rows="5"
                            cols="100">{% if plan.conclusion is not none %}{{ plan.conclusion }}{% endif %}</textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button>Opslaan</button>
                    </td>
                    <td style="text-align: right;">
                        {% if plan.id is not none %}
                                {{ macro.confirm_redirect( "Plan verwijderen", "Weet je zeker dat je dit interventieplan wilt verwijderen?", url_for('main.delete_plan', plan_id=plan.id) ) }}
                        {% endif %}

                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div id="plan_ins" class="tabcontent">
        <div class="text_area">
            <h1>Instrumenten</h1>
            <table>
                {% for (instrument, score) in advisor.get_sorted_instruments() %}
                <tr>
                    <td>
                        <input type="checkbox" name="choose_instrument" value="{{ instrument.id }}" {% for
                            chosen_instrument in plan.instruments %} {% if
                            instrument.id==chosen_instrument.instrument.id %}checked{% endif %} {% endfor %}>
                    </td>
                    <td>
                        <a
                            href="{{ url_for('catalog.show_instrument', id=instrument.id) }}">{{
                            instrument.name }} (score {{ score | round(1) }})</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
            <button>Opslaan</button>
        </div>
    </div>
</form>



{% endblock %}