{% extends 'base.html' %}

{% block steps %}
{% endblock %}

{% block page_title %}
    Werksessies
{% endblock %}

{% block instrumenten %}
    {% include 'search.html' %}    
    {% include 'link_new_worksession.html' %}   
    {% include 'link_archived_worksessions.html' %}   
{% endblock %} 


{% block body %}

    {% if current_user.unread_message_alert() %}
        {% for message in current_user.unread_messages_list() %}
            <div class="message">
                    <a href="{{ url_for('admin.message', message_id=message.id) }}">
                        <div class="subject">{{ message.subject }}</div>
                        {% if message.sender.name|length >0 %}<div class="sender">Afzender: {{ message.sender.name }}</div>{% endif %}
                        <div class="date">Datum: {{ message.deliver_after.strftime('%d-%m-%Y') }}</div>                    
                        <div  class="body">
                            {{ message.body | escape | markdown}}
                        </div>
                    </a>    
            </div>
        {% endfor %}
    {% endif %}


    
    <h1>Eigen werksessies</h1>
    <table>
        <tr>
            <th>Werksessie</th>
            <th>Beschrijving</th>
        </tr>
        {% for worksession in worksessions | selectattr('parent', 'none') %}
            {% if worksession.archived == false %}
                {% if current_user in worksession.allowed_users or current_user.role.see_all_worksessions %}
                    {% if current_user == worksession.creator %}
                        <tr>
                            <td><a href="{{url_for('main.show_worksession', worksession_id=worksession.id)}}">{{ worksession.name }}</a></td>
                            <td>{{ worksession.description | escape | markdown | truncate(500) }}</td>
                        </tr>
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endfor %}
    </table>

    <h1>Overige werksessies</h1>
    <table>
        <tr>
            <th>Werksessie</th>
            <th>Beschrijving</th>
            <th>Eigenaar</th>
        </tr>
        {% for worksession in worksessions | selectattr('parent', 'none') %}
            {% if worksession.archived == false %}
                {% if current_user in worksession.allowed_users or current_user.role.see_all_worksessions %}
                    {% if current_user != worksession.creator %}
                        <tr>
                            <td><a href="{{url_for('main.show_worksession', worksession_id=worksession.id)}}">{{ worksession.name }}</a></td>
                            <td>{{ worksession.description | escape | markdown | truncate(500) }}</td>
                            <td><a href="{{ url_for('admin.user', id=worksession.creator.id) }}">{{ worksession.creator.name }}</a></td>
                        </tr>
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endfor %}
    </table>




{% endblock %}