{% extends 'presenter_mode.html' %}

{% block page_title %}
    {{ instrument.name }}
{% endblock %}

{% block instrumenten %}   
    {% include 'main/scored_instruments.html' %}
{% endblock %} 

{% block body %}
    <div class="instrument_introduction">{{ instrument.introduction | escape | markdown }}</div>
    {% if instrument.referenced_elsewhere %}
        <a href="http://{{ instrument.reference_link }}"><button>Link naar de beschrijving van dit instrument</button></a>
        <br>
    {% else %}
        <h1>Beschrijving</h1>
        <div class="instrument_body">{{ instrument.description | escape | markdown }}</div>
        <h1>Overwegingen bij gebruik</h1>
        <div class="instrument_body">{{ instrument.considerations | escape | markdown }}</div>
        <h1>Voorbeelden</h1>
        <div class="instrument_body">{{ instrument.examples | escape | markdown }}</div>
        <h1>Links</h1>
        <div class="instrument_body">{{ instrument.links | escape | markdown }}</div>
    {% endif %}
    <h1>Tags</h1>
    {% for tag_assignment in instrument.tags %}
        <a href="{{ url_for('catalog.edit_tag_assignment_to_instrument', instrument_id=instrument.id, tag_assignment_id=tag_assignment.id) }}">
            <span class="tag 
                        {% if tag_assignment.multiplier >= 1 %}plus{% endif %}
                        {% if tag_assignment.multiplier < 1 %}min{% endif %}">
                {{ tag_assignment.tag.name }}
            </span>
        </a>
    {% endfor %}
    <br>

    {% include 'main/explain_score.html' %}
    
{% endblock %}