{% extends 'base.html' %}

{% block body %}
<div class="focus_area">

    <div class="login">
        <h1>Inloggen</h1>
        <form method="POST">
            {{ form.csrf_token }}
            {{ form.name }}<br>
            {{ form.password }}<br>
            {{ form.submit }} 
        </form>

        {% if get_flashed_messages() %}
            <div class="errors">
                {% for message in get_flashed_messages(category_filter=["login_error"]) %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}

        {% if config['ALLOW_SELF_REGISTER'] %}
            <div class="register">
                <a href="{{ url_for('admin.self_register') }}">Maak een nieuw account aan</a>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}