<a href="{{ url_for('main.show_session', session_id=session.id) }}" class="step">&#9204;</a>
{% if session.process_id == 1 %}
    <a href="{{ url_for('main.case', session_id=session.id) }}" class="step">1. Casus</a>
    <a href="{{ url_for('main.process_simultaneous', session_id=session.id) }}" class="step">2. {{ session.question_set.name }}</a>
    <a href="{{ url_for('main.conclusion', session_id=session.id) }}" class="step">3. Conclusie</a>
    <a href="{{ url_for('export.session', session_id=session.id) }}" class="step">&#11208;</a>
{% elif session.process_id == 2 %}
    <a href="{{ url_for('main.case', session_id=session.id) }}" class="step">1. Casus</a>
    {% for question in session.question_set.questions | sort(attribute='order') %}
        <a href ="{{ url_for('main.process_single', session_id=session.id, question_id=question.id) }}" class="step">{{ loop.index+1 }}. {{ question.name }}</a>
    {% endfor %}
    <a href="{{ url_for('main.conclusion', session_id=session.id) }}" class="step">{{ session.question_set.questions | sort(attribute='order') | length + 2}}. Conclusie</a>
    <a href="{{ url_for('export.session', session_id=session.id) }}" class="step">&#11208;</a>
{% endif %}