{% extends 'base.html' %}

{% block steps %}
    <a href="{{ url_for('main.show_worksession', worksession_id=worksession.id) }}" class="step">{{ worksession.name}}</a>
{% endblock %}

{% block page_title %}
Interventieplan bij {{ plan.worksession.name }}
{% endblock %}

{% block body %}

<a href="{{ url_for('main.edit_plan', worksession_id=worksession.id, plan_id=plan.id) }}"><button type="button">✎ Interventieplan aanpassen</button></a>


<h1>Beschrijving</h1>
<p>
    {{ plan.description | escape | markdown }}
</p>
<h1>Overwegingen</h1>
<p>
    {{ plan.conclusion | escape | markdown }}
</p>
<h1>Instrumenten in het interventieplan</h1>

<table class="sortable">
    <thead>
        <tr>
            <th>Instrument</th>
            <th>Beschrijving</th>
        </tr>
    </thead>
    <tbody>
        {% for chosen in plan.instruments %}
        
        <tr>
            <td>
                <a href="{{ url_for('catalog.show_instrument', id=chosen.instrument.id) }}">{{ chosen.instrument.name }} </a>
            </td>
            <td>{{ chosen.instrument.introduction | truncate(150) | escape | markdown }}</td>
        </tr>
        
        {% endfor %}
    </tbody>
</table>

<h1>Datum</h1>
{{ plan.date.strftime('%Y-%m-%d') }}



{% endblock %}