{% extends 'base.html' %}

{% block steps %}
    <a href="{{ url_for('main.index') }}" class="step">Werksessies</a>
    <a href="{{ url_for('main.show_worksession', worksession_id=worksession.id) }}" class="step">{{ worksession.name}}</a>
{% endblock %}

{% block instrumenten %}   

{% endblock %} 


{% block page_title %}
    Interventieplan bij {{ worksession.name }}
{% endblock %}

{% block body %}
    <form method="POST">
        <table>
            <tr>
                <td>
                    Beschrijving
                </td>
                <td>
                    <textarea name="plan_description" rows="5" cols="100">{% if plan.description is not none %}{{ plan.description }}{% endif %}</textarea>
                </td>
            </tr>
            <tr>
                <td>
                    Datum
                </td>
                <td>
                    {{ plan.date.strftime('%Y-%m-%d') }}
                </td>
            </tr>
            <tr>
                <td>
                    Overwegingen
                </td>
                <td>
                    <textarea name="plan_motivation" rows="5" cols="100">{% if plan.conclusion is not none %}{{ plan.conclusion }}{% endif %}</textarea>
                </td>
            </tr>
            <tr>
                <td>
                    <button>Opslaan</button>
                </td>
                <td style="text-align: right;">
                    {% if plan.id is not none %}
                        {{ macro.confirm_redirect( "Plan verwijderen", "Weet je zeker dat je dit interventieplan wilt verwijderen?", url_for('main.delete_plan', plan_id=plan.id) ) }}
                    {% endif %}
                    
                </td>
            </tr>
        </table>

        <br>

            <h1 class="collapsible">Instrumenten ({{plan.instruments | length }} geselecteerd)</h1>
            <div class="collapsible_content">
                <table>
                    <tr>
                        <th>Instrument</th>
                        <th>Interventieplan</th>
                    </tr>
                    {% for (instrument, score) in advisor.get_sorted_instruments() %}
                        <tr>
                            <td>
                                <a href="{{ url_for('main.show_instrument', instrument_id=instrument.id, worksession_id=worksession.id) }}">{{ instrument.name }} (score {{ score | round(1) }})</a>
                            </td>
                            <td>
                                <input type="checkbox" name="choose_instrument" value="{{ instrument.id }}"
                                    {% for chosen_instrument in plan.instruments %}
                                        {% if instrument.id == chosen_instrument.instrument.id %}checked{% endif %}
                                    {% endfor %}
                                >
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <br>
            
    </form>


    
{% endblock %}
