<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="URF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/presenter_styles.css')}}">
        
        <title>{{ worksession.name }}</title>
    </head>

    <body>
        <div class="divheader">
            <div class="divsteps">
                <a href="{{ url_for('main.case', worksession_id=worksession.id) }}" class="step">1. Casus</a>
                <a href="{{ url_for('main.process_single', worksession_id=worksession.id) }}" class="step">2. {{ worksession.question_set.name }}</a>
                <a href="{{ url_for('main.conclusion', worksession_id=worksession.id) }}" class="step">3. Conclusie</a>
                <a href="{{ url_for('main.show_worksession', worksession_id=worksession.id) }}" class="step">Afsluiten</a>
                {% include 'presenter_mode_screen_controls.html' %}
            </div>

            <div class="page_title">
                <div class="worksession_title">{{ worksession.name }}</div>
                <div class="worksession_description">{{ worksession.effect | escape | markdown }}</div>
            </div>
        </div>

        <div class="divmain">
            <div class="divinstrumenten">
                {% if worksession.show_instruments %}{% include 'main/scored_instruments.html' %}{% endif %}
                {% if worksession.show_tags and advisor.get_active_tags() | length > 0 %}{% include 'main/active_tags.html' %}{% endif %}
                <br>
                {% include 'presenter_mode_clone.html' %}
            </div>

            <div class="divquestionnaire">
                {% include 'main/question_set_index.html' %}
            </div>
            
            <div class="divworkarea">            
                <form method="POST">
                    {% if question.is_category %}
                        <h1 class="question_category">{{ question.name }}</h1>
                        <div class="question_description">{{ question.description | escape | markdown }}</div>
                        <br><input type="submit" value="Doorgaan">
                    {% else %}
                        <h1 class="question_category">{{ worksession.question_set.questions | selectattr('is_category', 'true') | selectattr('order', 'lt', question.order) | sort(attribute='order', reverse=true) | map(attribute='name') | first  }}</h1>
                        <h2 class="question">{{ question.name }}</h2>
                        <div class="question_description">{{ question.description | escape | markdown }}</div>
                        {% if question.allow_weight %}
                            <div class="factor">
                                {% set weight_options=[0, 0.5, 1, 2] %}
                                Gewicht: 
                                {% for weight in weight_options %}
                                    <input 
                                        type="radio" 
                                        name="weight" 
                                        value="{{ weight }}" 
                                        {% if answer.weight == weight %}checked{% endif %}>
                                        x{{ weight }}
                                {% endfor %}
                                
                            </div>
                        {% endif %}
                        {% for option in question.options | sort(attribute='order')%}
                            <div class="option">
                                {% if question.allow_multiselect %}
                                    <input type="checkbox" name="option" value="{{ option.id }}" {% if worksession.is_option_selected(option) %}checked{% endif %}>
                                {% else %}
                                    <input type="radio" name="option" value="{{ option.id }}" {% if worksession.is_option_selected(option) %}checked{% endif %}>
                                {% endif %}
                                {{ option.name }}
                            </div>
                        {% endfor %}
                        
                        {% if not question.allow_multiselect %}<a style="font-size: smaller;" onclick="return uncheck_radio('option' );"><button type="button">&#10060;</button> Keuze wissen</a>{% endif %}
            
                        {% if question.allow_motivation %}
                            <br><textarea name="motivation" rows="5" cols="100">{{ worksession.answers | selectattr('question', '==', question) | map(attribute='motivation') | first }}</textarea>
                        {% endif %}
                        <br><br><input type="submit" value="Opslaan">
                    {% endif %}    
                </form>
            </div>
        </div>
        



        <script nonce="{{ nonce }}" src="{{url_for('static', filename='scripts/collapse.js')}}"></script>
        <script nonce="{{ nonce }}" src="{{url_for('static', filename='scripts/uncheck_radio.js')}}"></script>
    </body>
</html>





