{% extends 'base.html' %}

{% block steps %}
    <a href="{{ url_for('main.index') }}" class="step">Werksessies</a>
    <span class="step">{{ session.name }}</span>
{% endblock %}

{% block instrumenten %}   
    {% include 'link_new_session.html' %}   
{% endblock %} 


{% block page_title %}
    {% if session.parent is not none %}Afgeleide sessie: {% endif %}{{ session.name }}
{% endblock %}

{% block body %}
    {% if session.parent is not none %}
        <div><a href="{{ url_for('main.show_session', session_id=session.parent.id) }}">&#9204; Ga naar oorspronkelijke sessie</a></div>
        <br>
    {% endif %}
    <a href="{{ url_for('main.case', session_id=session.id) }}"><button>Start de werksessie</button></a>
    <h1>Beschrijving</h1>
    {{ session.description | escape | markdown }}
    {% if session.parent is not none %}
        <h2>Beschrijving afgeleide sessie</h2>
        {{ session.child_description }}
    {% endif %}
    <h1>Sessiedatum</h1>
    {{ session.date | escape | markdown }}
    <h1>Deelnemers</h1>
    {{ session.participants | escape | markdown }}
    <h1>Beoogd effect</h1>
    {{ session.effect | escape | markdown }}
    <h1>Conclusie</h1>
    {{ session.conclusion | escape | markdown }}
    {% if session.link_to_page is not none %}
        <h1>Link naar projectfolder</h1>
        {{ session.link_to_page | escape | markdown }}
    {% endif %}
    {% if session.children | length %}
        <h1>Afgeleide sessies</h1>
        <table>
            <tr>
                <th>Link</th>
                <th>Beschrijving</th>
            </tr>
            {% for child_session in session.children %}    
                <tr>
                    <td><a href="{{ url_for('main.show_session', session_id=child_session.id) }}">Afgeleide sessie {{ loop.index }}</a></td>
                    <td>{{ child_session.child_description }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
    <br>
    <h1 class="collapsible">Kenmerken van de sessie</h1>
    <div class="collapsible_content">
        <table>
            <tr>
                <td>Keuzetool</td>
                <td>{{ session.question_set.name }}</td>
            </tr>
            <tr>
                <td>Keuzeproces</td>
                <td>{{ session.process.name }}</td>
            </tr>
            <tr>
                <td>
                    Maker
                </td>
                <td>
                    <a href="{{ url_for('admin.user', id=session.creator.id) }}">{{ session.creator.name }}</a></span>
                </td>
            </tr>
            <tr>
                <td>Vragen</td>
                <td>{{ session.question_set.questions | length }}</td>
            </tr>
            <tr>
                <td>Laatste wijziging</td>
                <td>{{ session.date_modified }}</td>
            </tr>
            <tr>
                <td>Instellingen</td>
                <td>
                    {% if session.show_instruments %}<span class="property">Instrumenten weergeven</span>{% endif %}
                    {% if session.show_tags %}<span class="property">Tags weergeven</span>{% endif %}
                    {% if session.archived %}<span class="property">Gearchiveerd</span>{% endif %}
                </td>
            </tr>
        </table>
    </div>

    <h1>Acties</h1>
    <ul>
        <li><a href="{{ url_for('main.session_summary', session_id=session.id) }}">Samenvatting</a></li>
        <li><a href="{{ url_for('main.edit_session', session_id=session.id) }}">Sessie aanpassen of verwijderen</a></li>
        <li><a href="{{ url_for('main.share_session', session_id=session.id) }}">Toegang tot de sessie beheren</a></li>
        <li><a href="{{ url_for('export.session', session_id=session.id) }}">Sessie exporteren naar Word</a></li>
    </ul>
{% endblock %}
