{% extends 'base.html' %}

{% block currentcase %}
    {{ session.name }}
{% endblock %}

{% block steps %}
    <a href="{{ url_for('main.index') }}" class="step">Werksessies</a>
    <a href="{{ url_for('main.show_session', session_id=session.id) }}" class="step">{{ session.name }}</a>
    <span class="step">Samenvatting</span>
{% endblock %}

{% block page_title %}
    {{ session.name }}
{% endblock %}

{% block body %}
<h1>Samenvatting casus</h1>
<div>{{ session.description | escape | markdown }}</div>
<div>{{ session.effect | escape | markdown }}</div>
<h1>Definitieve overwegingen</h1>
<div>{{ session.conclusion | escape | markdown }}</div>

<h1>Instrumenten</h1>
<table>
    <tr>
        <th>Instrument</th>
        <th></th>
        <th>Score</th>
    </tr>
    {% for (instrument, score) in advisor.get_sorted_instruments() %}
        <tr>
            <td><a href="{{ url_for('main.show_instrument', instrument_id=instrument.id, session_id=session.id) }}">{{ instrument.name }}</a></td>
            <td>{{ instrument.introduction | truncate(250) | escape | markdown }}</td>
            <td>{{ score | round(2) }}</td>
        </tr>
    {% endfor %}
</table>

<h1>Antwoorden</h1>
{% for question in session.question_set.questions | sort(attribute='order') %}
    {% if question.is_category %}
        <h2 class="question_category">{{ question.name }}</h2>
    {% elif not question.is_category %}          
        {{ question.name }}:
        <ul>
            {% for selection in session.answers | selectattr('question', '==', question) | map(attribute='selection') %}
                {% for selected in selection %}
                    <li>[{{ selected.option.name }}]</li>
                {% endfor %}
            {% endfor %}
            <li>{{ session.answers | selectattr('question', '==', question) | map(attribute='motivation') | first | truncate(75) }}</li>
            <li>Factor {{ session.answers | selectattr('question', '==', question) | map(attribute='weight') | first }}</li>
        </ul>
    {% endif %}
{% endfor %}
<h1>Actieve tags</h1>
{% for active_tag in advisor.get_active_tags() %}
    <span class="tag">{{ active_tag.tag.name }}: {{ active_tag.weight}}</span>
{% endfor %}
{% endblock %}