{% extends 'base.html' %}

{% block page_title %}
{{ worksession.name }} {% if worksession.project_number != "" %}({{ worksession.project_number }}){% endif %}
{% endblock %}

{% block tabs %}
<div class="tab_bar">
    <button class="tablinks" onclick="switch_tab(event, 'ws_main')" id="defaultOpen">Beschrijving</button>
    <button class="tablinks" onclick="switch_tab(event, 'ws_summary')">Uitkomsten ({{ worksession.completion() }})</button>
    <button class="tablinks" onclick="switch_tab(event, 'ws_plans')">Interventieplannen ({{ worksession.plan | count }})</button>
    <button class="tablinks" onclick="switch_tab(event, 'ws_details')">Details</button>
    <button class="tablinks" onclick="switch_tab(event, 'ws_settings')">Toegang</button>
</div>
{% endblock %}



{% block body %}

<div id="ws_main" class="tabcontent text_area">
        <a href="{{ url_for('main.case', worksession_id=worksession.id) }}"><button type="button">▶︎ Start de werksessie</button></a>
        <a href="{{ url_for('main.edit_worksession', worksession_id=worksession.id) }}"><button type="button">✎ Werksessie aanpassen</button></a>
    <h1>Beschrijving
        
    </h1>
    {{ worksession.description | escape | markdown }}
    {% if worksession.description | length == 0 %}
        (Nog geen beschrijving beschikbaar)
    {% endif %}
    {% if worksession.parent is not none %}
        <h2>Beschrijving afgeleide sessie</h2>
        {{ worksession.child_description }}
    {% endif %}
    <h1>Sessiedatum</h1>
    {{ worksession.date.strftime('%d-%m-%Y') }}
    {% if worksession.participants | length > 0 %}
        <h1>Deelnemers</h1>
        {{ worksession.participants | escape | markdown }}
    {% endif %}
    {% if worksession.effect | length > 0 %}
    <h1>Beoogd doel</h1>
        {{ worksession.effect | escape | markdown }}
    {% endif %}
    {% if worksession.link_to_page | length > 0 %}
    <h1>Link naar projectfolder</h1>
    {{ worksession.link_to_page | escape | markdown }}
    {% endif %}
</div>

<div id="ws_summary" class="tabcontent text_area">
    <a href="{{ url_for('export.worksession', worksession_id=worksession.id) }}"><button>Exporteren naar Word</button></a><br>
    <h1>Samenvatting casus</h1>
    <div>{{ worksession.description | escape | markdown }}</div>
    <div>{{ worksession.effect | escape | markdown }}</div>
    
    <h1>Antwoorden ({{worksession.completion() }} ingevuld)</h1>
    <ol>
        {% for question in worksession.question_set.questions | sort(attribute='order') %}
            {% if question.is_category %}
            <li>
                <h2 class="question_category">{{ question.name }}</h2>
            </li>
            {% elif not question.is_category %}
            <div class="collapsible">{{ question.name }} <span class="selected_options">{% for selection in worksession.answers | selectattr('question', '==', question) | map(attribute='selection') %}{% for selected in selection %}{{ selected.option.name }}{{ "; " if not loop.last}}{% endfor %}{% endfor %}</span>

            </div>
            <div class="collapsible_content answer_summary">
                <div class="factor">
                    Factor {{ worksession.answers | selectattr('question','==', question) | map(attribute='weight') | first }}
                </div>
                <div class="motivation">
                    {{ worksession.answers | selectattr('question', '==', question) | map(attribute='motivation') | first | truncate(75) }}
                </div>
            </div>
            
            {% endif %}
        {% endfor %}
    </ol>

    <h1>Instrumenten</h1>
    <table class="sortable">
        <thead>
            <tr>
                <th>Instrument</th>
                <th>Beschrijving</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
            {% for (instrument, score) in advisor.get_sorted_instruments() %}
            {% if score > 0 %}
            <tr>
                <td><a
                        href="{{ url_for('main.show_instrument', instrument_id=instrument.id, worksession_id=worksession.id) }}">{{
                        instrument.name }}</a></td>
                <td>{{ instrument.introduction | truncate(150) | escape | markdown }}</td>
                <td>{{ score | round(2) }}</td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>

    <h1>Actieve tags</h1>
    {% for active_tag in advisor.get_active_tags() %}
    <span class="tag">{{ active_tag.tag.name }}: {{ active_tag.weight}}</span>
    {% endfor %}
    </>
</div>

<div id="ws_plans" class="tabcontent ">
    <div class="card_area">
        <a href="{{ url_for('main.new_plan', worksession_id=worksession.id) }}">
        <div class="card new">
            <div class="card_title">
                Nieuw interventieplan maken
            </div>
            <div class="card_owner">
            </div>
            <div class="card_description">
                Klik hier om een interventieplan toe te voegen aan deze werksessie.
            </div>
        </div>
    </a>
        {% for plan in worksession.plan %}
        <a href="{{ url_for('main.show_plan', worksession_id=worksession.id, plan_id=plan.id) }}">
            <div class="card">
                <div class="card_title">
                    {{ loop.index }}. {{ plan.description }}
                </div>
                <div class="card_owner">

                    {% if plan.instruments | count > 0 %}Instrumenten: {% endif %}
                    {% for chosen_instrument in plan.instruments %}
                    {{ chosen_instrument.instrument.name }}{{ ", " if not loop.last else "" }}
                    {% endfor %}
                </div>
                <div class="card_description">
                    {{ plan.conclusion }} ({{ plan.date.strftime('%d-%m-%Y') }})
                </div>
            </div>
        </a>
    {% endfor %}
    </div>
</div>




<div id="ws_details" class="tabcontent text_area">
    <table class="sortable">
        <thead>
            <th>Kenmerk</th>
            <th>Waarde</th>
        </thead>
        <tbody>
            <tr>
                <td>Projectnummer</td>
                <td>{{ worksession.project_number }}</td>
            </tr>
            <tr>
                <td>Status</td>
                <td>{% if worksession.archived %}Gearchiveerd <a href="{{ url_for('main.archive_worksession', archive=0, worksession_id=worksession.id) }}"> (Maak actief)</a>{% else %}Actief{% endif %}</td>
            </tr>
            <tr>
                <td>Keuzetool</td>
                <td>{{ worksession.question_set.name }}</td>
            </tr>
            <tr>
                <td>Keuzeproces</td>
                <td>{{ worksession.process.name }}</td>
            </tr>
            <tr>
                <td>
                    Maker
                </td>
                <td>
                    <a href="{{ url_for('admin.user', id=worksession.creator.id) }}">{{ worksession.creator.name }}</a>
                </td>
            </tr>
            <tr>
                <td>Vragen</td>
                <td>{{ worksession.question_set.questions | length }}</td>
            </tr>
            <tr>
                <td>Laatste wijziging</td>
                <td>{{ worksession.date_modified }}</td>
            </tr>
            <tr>
                <td>Instellingen</td>
                <td>
                    {% if worksession.show_instruments %}<span class="property">Instrumenten weergeven</span>{% endif %}
                    {% if worksession.show_tags %}<span class="property">Tags weergeven</span>{% endif %}
                    {% if worksession.archived %}<span class="property">Gearchiveerd</span>{% endif %}
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div id="ws_settings" class="tabcontent text_area">
    <div class="text_area">
        <h1>Sessie archiveren of verwijderen</h1>
            <ul>
                <li>
                    {% if not worksession.archived %}
                        <a href="{{ url_for('main.archive_worksession', worksession_id=worksession.id) }}">Sessie is actief - Nu archiveren</a>
                    {% else %}
                        <a href="{{ url_for('main.archive_worksession', worksession_id=worksession.id, archive=0) }}">Sessie is gearchiveerd - Maak actief</a>
                    {% endif %} 
                </li>
            <li>{{ macro.confirm_redirect( "Sessie verwijderen", "Weet je zeker dat je "+worksession.name+" wilt verwijderen?", url_for('main.delete_worksession', worksession_id=worksession.id) ) }}</li>
            </ul>
        <h1>Sessie delen</h1>
        <p>Om toegangsrechten tot deze sessie te krijgen klikt de nieuwe gebruiker op de link. De link is zeven dagen
            geldig.</p>
        <input type="text"
            value="{{ url_for('main.share_link', worksession_id=worksession.id, invitation_string=invitation_string, _external=True) }}"
            id="link" size="80">
        <button onclick="copy_to_clipboard('link')">Selecteer link</button>
        <ul>
            <li>
                <a href="{{ url_for('main.reset_secret_key', worksession_id=worksession.id) }}">Trek alle openstaande uitnodigingen in.</a>
            </li>
        </ul>
        {% if current_user.role.edit_users %}
        <h2>Gebruikers die de sessie mogen zien</h2>
        <table>
            <tr>
                <th>Gebruiker</th>
                <th>Acties</th>
            </tr>
            {% for user in worksession.allowed_users %}
            <tr>
                <td>
                    <span class="user"><a href="{{ url_for('admin.user', id=user.id) }}">{{ user.name }}</a></span>
                </td>
                <td>
                    <a href="{{ url_for('main.stop_share', worksession_id=worksession.id, user_id=user.id) }}"><button>Verwijderen</button></a>
                </td>
            </tr>
            {% endfor %}

        </table>
        <script nonce="{{ nonce }}" src="{{url_for('static', filename='scripts/copy_to_clipboard.js')}}"></script>
        {% endif %}
    </div>
</div>

{% endblock %}