{% extends 'base.html' %}

{% block page_title %}
Werksessies
{% endblock %}

{% block tabs %}
    <button class="tablinks" onclick="switch_tab(event, 'ws_owned')" id="defaultOpen">Mijn sessies</button>
    <button class="tablinks" onclick="switch_tab(event, 'ws_new')" id="defaultOpen">Nieuwe sessie</button>
    <button class="tablinks" onclick="switch_tab(event, 'ws_shared')">Gedeelde sessies</button>
    <button class="tablinks" onclick="switch_tab(event, 'ws_all')">Alle sessies</button>
{% endblock %}


{% block body %}
<div id="ws_owned" class="tabcontent">
    <div class="card_area">
        {% for worksession in worksessions | selectattr('parent', 'none') %}
            {% if worksession.archived == false %}
                {% if current_user in worksession.allowed_users or current_user.role.see_all_worksessions %}
                    {% if current_user == worksession.creator %}
                    <a href="{{url_for('main.show_worksession', worksession_id=worksession.id)}}">
                        <div class="card" style="background-color:{{ worksession.question_set.color }}; color:{{ worksession.question_set.text_color }}">
                            <div class="card_title">
                                {{ worksession.name}}
                            </div>
                            
                            <div class="card_info">
                                <p>Datum: {{ worksession.date.strftime('%d-%m-%Y') }}</p>
                                <p>{{ worksession.question_set.name }} ({{ worksession.completion() }})</p>
                                {% if worksession.plan | count > 0 %}
                                    <p>Interventieplannen: {{ worksession.plan | count }}</p>
                                {% endif %}
                            </div>
                            
                            <div class="card_description">
                                {{ worksession.description | escape | markdown }}
                            </div>
                        </div>
                    </a>
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
</div>

<div id="ws_new" class="tabcontent">
    <div class="card_area">
        {% for question_set in question_sets %}
            <a href="{{ url_for('main.new_worksession', question_set_id=question_set.id) }}">
                <div class="card new" style="background-color:{{ question_set.color }}; color:{{ question_set.text_color }}">
                    <div class="card_title">
                        {{ question_set.name }}
                    </div>
                    <div class="card_description">
                        {{ question_set.description | escape | markdown }}
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
</div>

<div id="ws_shared" class="tabcontent">
    <div class="card_area">

        {% for worksession in worksessions | selectattr('parent', 'none') %}
            {% if worksession.archived == false %}
                {% if current_user in worksession.allowed_users or current_user.role.see_all_worksessions %}
                    {% if current_user != worksession.creator %}
                    <a href="{{url_for('main.show_worksession', worksession_id=worksession.id)}}">
                        <div class="card" style="background-color:{{ worksession.question_set.color }}; color:{{ worksession.question_set.text_color }}">
                            <div class="card_title">
                                {{ worksession.name}}
                            </div>
                            
                            <div class="card_info">
                                <p>Datum: {{ worksession.date.strftime('%d-%m-%Y') }}</p>
                                <p>Eigenaar: {{ worksession.creator.name }}</p>
                                <p>{{ worksession.question_set.name }} ({{ worksession.completion() }})</p>
                                {% if worksession.plan | count > 0 %}
                                    <p>Interventieplannen: {{ worksession.plan | count }}</p>
                                {% endif %}
                            </div>
                            
                            <div class="card_description">
                                {{ worksession.description | escape | markdown }}
                            </div>
                        </div>
                    </a>
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>

</div>

<div id="ws_all" class="tabcontent">
    <div class="text_area">

    <table class="sortable">
        <thead>
            <tr>
                <th>Werksessie</th>
                <th>Projectnummer</th>
                <th>Voortgang</th>
                <th>Interventieplannen</th>
                <th>Datum</th>
                <th>Selectietool</th>
                <th>Eigenaar</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for worksession in worksessions | selectattr('parent', 'none') %}
                {% if current_user in worksession.allowed_users or current_user.role.see_all_worksessions %}
                <tr>
                    <td><a href="{{url_for('main.show_worksession', worksession_id=worksession.id)}}">{{ worksession.name }}</a></td>
                    <td>{{ worksession.project_number }}</td>
                    <td>{{ worksession.completion() }}</td>
                    <td>{{ worksession.plan | count }}</td>
                    <td>{{ worksession.date.strftime('%d-%m-%Y') }}</td>
                    <td>{{ worksession.question_set.name }}</td>
                    <td><a href="{{ url_for('admin.user', id=worksession.creator.id) }}">{{ worksession.creator.name }}</a></td>
                    <td>{% if worksession.archived == true %}Archief{% endif %}</td>
                </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
    </div>
</div>

{% endblock %}