{% extends 'base.html' %}

{% block page_title %}
{{ worksession.name }} {% if worksession.project_number != "" %}({{ worksession.project_number }}){% endif %}
{% endblock %}

{% block tabs %}
    <button class="tablinks" onclick="switch_tab(event, 'ws_main')" id="defaultOpen">Beschrijving</button>
    <button class="tablinks" onclick="switch_tab(event, 'ws_summary')">Uitkomsten ({{ worksession.completion() }})</button>
    <button class="tablinks" onclick="switch_tab(event, 'ws_plans')">Interventieplannen ({{ worksession.plan | count }})</button>
    <button class="tablinks" onclick="switch_tab(event, 'ws_related')">Gerelateerde sessies</button>
    <button class="tablinks" onclick="switch_tab(event, 'ws_settings')">Toegang</button>
{% endblock %}



{% block body %}

<div id="ws_main" class="tabcontent text_area">
        <a href="{{ url_for('present.frontpage', worksession_id=worksession.id) }}"><button type="button">▶︎ Start de werksessie</button></a>
        {% if worksession.enable_voting and worksession.votes | count > 0 %}
            <a href="{{ url_for('main.erase_votes', worksession_id=worksession.id) }}"><button type="button">🗨 Reset stemmen</button></a>
        {% endif %}
        <a href="{{ url_for('main.edit_worksession', worksession_id=worksession.id) }}"><button type="button">✎ Werksessie aanpassen</button></a>
    <h1>Beschrijving
        
    </h1>
    {{ worksession.description | escape | markdown }}
    {% if worksession.description | length == 0 %}
        (Geen)
    {% endif %}
    {% if worksession.date is not none %}
        <h1>Sessiedatum</h1>
        {{ worksession.date.strftime('%d-%m-%Y') }}
    {% endif %}
    {% if worksession.participants | length > 0 %}
        <h1>Deelnemers</h1>
        {{ worksession.participants | escape | markdown }}
    {% endif %}
    {% if worksession.effect | length > 0 %}
    <h1>Beoogd doel</h1>
        {{ worksession.effect | escape | markdown }}
    {% endif %}
    {% if worksession.link_to_page | length > 0 %}
    <h1>Link naar projectfolder</h1>
    {{ worksession.link_to_page | escape | markdown }}
    {% endif %}
</div>

<div id="ws_summary" class="tabcontent text_area">
    <div id="ws_questions_tags"
        hx-get="{{ url_for('main.ws_questions_tags', worksession_id=worksession.id) }}"
        hx-trigger="load"
        hx-target="this"
        hx-swap="innerHTML">
    {% include 'load_animation.html' %}
    </div>
</div>

<div id="ws_plans" class="tabcontent">
    <div id="ws_show_plans"
        hx-get="{{ url_for('main.ws_show_plans', worksession_id=worksession.id) }}"
        hx-trigger="load"
        hx-target="this"
        hx-swap="innerHTML">
    {% include 'load_animation.html' %}
    </div>
</div>

<div id="ws_related" class="tabcontent text_area">
    <div id="ws_followup_cards"
        hx-get="{{ url_for('main.ws_followup', worksession_id=worksession.id) }}"
        hx-trigger="load"
        hx-target="this"
        hx-swap="innerHTML">
    {% include 'load_animation.html' %}
    </div>

    <div id="ws_projectnumber_cards"
        hx-get="{{ url_for('main.ws_projectnumber', worksession_id=worksession.id) }}"
        hx-trigger="load"
        hx-target="this"
        hx-swap="innerHTML">
    {% include 'load_animation.html' %}
    </div>
</div>

<div id="ws_settings" class="tabcontent text_area">
    <div class="text_area">
        <h1>Sessie archiveren of verwijderen</h1>
            <ul>
                <li>
                    {% if not worksession.archived %}
                        <a href="{{ url_for('main.archive_worksession', worksession_id=worksession.id) }}">Sessie is actief - Nu archiveren</a>
                    {% else %}
                        <a href="{{ url_for('main.archive_worksession', worksession_id=worksession.id, archive=0) }}">Sessie is gearchiveerd - Maak actief</a>
                    {% endif %} 
                </li>
            <li>{{ macro.confirm_redirect( "Sessie verwijderen", "Weet je zeker dat je "+worksession.name+" wilt verwijderen?", url_for('main.delete_worksession', worksession_id=worksession.id) ) }}</li>
            </ul>
        <h1>Sessie delen</h1>
        <ul>
            <li>
                <a href="{{ url_for('export.worksession', worksession_id=worksession.id) }}">Exporteren naar Word</a><br>
            </li>
            <li>
                <a onclick="copy_to_clipboard('link')">Delen met link:</a> <input type="text" value="{{ url_for('main.share_link', worksession_id=worksession.id, invitation_string=invitation_string, _external=True) }}" id="link" size="80">

            </li>
            <li>
                <a href="{{ url_for('main.reset_secret_key', worksession_id=worksession.id) }}">Openstaande uitnodigingen intrekken</a>
            </li>
        </ul>
        
            
        <h2>Gebruikers die de sessie mogen zien</h2>
        <p>
            {% if worksession.creator is not none %}
                De eigenaar van deze sessie is <a href="{{ url_for('admin.user', id=worksession.creator.id) }}">{{ worksession.creator.name }}</a>, en heeft altijd toegang.
            {% else %}
                De eigenaar van deze werksessie is verwijderd.
            {% endif %}
            
        </p>
        <table>
            <tr>
                <th>Gebruiker</th>
                <th>Acties</th>
            </tr>
            {% for user in worksession.allowed_users %}
            <tr>
                <td>
                    <span class="user"><a href="{{ url_for('admin.user', id=user.id) }}">{{ user.name }}</a></span>
                </td>
                <td>
                    {% if user != worksession.creator %}
                    <button>
                        {{ macro.confirm_redirect( "Maak eigenaar", "Weet je zeker dat je "+user.name+" eigenaar wilt maken van "+worksession.name+"?", url_for('main.make_owner', worksession_id=worksession.id, user_id=user.id) ) }}
                    </button>
                    {% endif %}
                    <button>
                        {{ macro.confirm_redirect( "Toegang ontnemen", "Weet je zeker dat je "+user.name+" toegang wilt ontnemen tot "+worksession.name+"?", url_for('main.stop_share', worksession_id=worksession.id, user_id=user.id) ) }}
                    </button>
                </td>
            </tr>
            {% endfor %}

        </table>
        <script nonce="{{ nonce }}" src="{{url_for('static', filename='scripts/copy_to_clipboard.js')}}"></script>

    </div>
</div>

{% endblock %}