<script nonce="{{ nonce }}" src="{{url_for('static', filename='scripts/sort_table.js')}}"></script>
<div class="text_area">
    <form method="POST">
        <input type="hidden" id="ws_selection" name="ws_selection" value="ws_selection">
        <table class="sortable">
            <thead>
                <tr><th class="sorttable_nosort"></th>
                    <th>Werksessie</th>
                    <th>Projectnummer</th>
                    <th>Selectietool</th>
                    <th>Stemmen</th>
                    <th>Voortgang</th>
                    <th>%</th>
                    <th>Interventieplannen</th>
                    <th>Datum</th>
                    <th>Eigenaar</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for worksession in worksessions %}
                    <tr>
                        <td>
                            <label>
                                <input type="checkbox" name="ws:::{{ worksession.name }}" value="{{ worksession.id }}" onclick="document.getElementById('with_selection').style.visibility='visible';">
                            </label>
                            </td>
                        <td>
                            <a href="{{url_for('main.show_worksession', worksession_id=worksession.id)}}">{{ worksession.name }}</a>
                        </td>
                        <td>{{ worksession.project_number }}</td>
                        <td style="background-color:{{ worksession.question_set.color }}; color:{{ worksession.question_set.text_color }}">{{ worksession.question_set.name }}</td>
                        <td>
                            {% if worksession.enable_voting %}
                                Ja
                            {% endif %}
                        </td>
                        <td>{{ worksession.completion() }}</td>
                        <td>{{ worksession.completion(perc=True) }}</td>
                        <td>{{ worksession.plan | count }}</td>
                        {% if worksession.date is not none %}
                            <td>{{ worksession.date.strftime('%d-%m-%Y') }}</td>
                        {% endif %}
                        <td><a href="{{ url_for('admin.user', id=worksession.creator.id) }}">{{ worksession.creator.name }}</a></td>
                        <td>{% if worksession.archived == true %}Archief{% else %}Actief{% endif %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        <div id="with_selection" style="visibility:hidden;">
            <h2>Selectie</h2>
            <div class="ws_controls">
                <label>
                    <input type="radio" name="ctrl:::" value="archive">
                    Archiveren
                </label>
                <label>
                    <input type="radio" name="ctrl:::" value="activate">
                    Activeren
                </label>
                <label style="margin-left:3em;">
                    <input type="radio" name="ctrl:::" value="delete">
                    Verwijderen
                </label>
            </div>
            <button
                hx-post="{{ url_for('main.edit_multiple_sessions') }}"
                hx-trigger="click"
                hx-target="#ws_all"
                hx-swap="innerHTML">Uitvoeren
            </button>
            <button
                hx-get="{{ url_for('main.ws_all') }}"
                hx-trigger="click"
                hx-target="#ws_all"
                hx-swap="innerHTML">Annuleren
            </button>
        </div>
    </form>
</div>

