<div class="text_area">
    <form method="POST">
        <input type="hidden" id="ws_selection" name="ws_selection" value="ws_selection">
        <table class="sortable">
            <thead>
                <tr><th class="sorttable_nosort"></th>
                    <th>Werksessie</th>
                    <th>Projectnummer</th>
                    <th>Selectietool</th>
                    <th>Stemmen</th>
                    <th>Voortgang</th>
                    <th>Interventieplannen</th>
                    <th>Datum</th>
                    <th>Eigenaar</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for worksession in worksessions %}
                    <tr>
                        <td>
                            <label>
                                <input type="checkbox" name="ws:::{{ worksession.name }}" value="{{ worksession.id }}" onclick="document.getElementById('with_selection').style.visibility='visible';">
                            </label>
                            </td>
                        <td>
                            <a href="{{url_for('main.show_worksession', worksession_id=worksession.id)}}">{{ worksession.name }}</a>
                        </td>
                        <td>{{ worksession.project_number }}</td>
                        <td style="background-color:{{ worksession.question_set.color }}; color:{{ worksession.question_set.text_color }}">{{ worksession.question_set.name }}</td>
                        <td>
                            {% if worksession.enable_voting %}
                                Ja
                            {% endif %}
                        </td>
                        <td>{{ worksession.completion() }} ({{ worksession.completion(perc=True) }})</td>
                        <td>{{ worksession.plan | count }}</td>
                        {% if worksession.date is not none %}
                            <td>{{ worksession.date.strftime('%d-%m-%Y') }}</td>
                        {% endif %}
                        <td><a href="{{ url_for('admin.user', id=worksession.creator.id) }}">{{ worksession.creator.name }}</a></td>
                        <td>{% if worksession.archived == true %}Archief{% else %}Actief{% endif %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <div id="with_selection" class="controls" style="visibility:hidden;">
            <h1>Selectie</h1>
            <div>
                <button 
                    hx-post="{{ url_for('main.edit_archive') }}"
                    hx-trigger="click"
                    hx-target="#ws_all"
                    hx-swap="innerHTML">
                    Archiveren
                </button>
                <button
                    hx-post="{{ url_for('main.edit_activate') }}"
                    hx-trigger="click"
                    hx-target="#ws_all"
                    hx-swap="innerHTML">
                    Activeren
                </button>
                <button
                    hx-post="{{ url_for('main.edit_export') }}"
                    hx-trigger="click"
                    hx-target="#with_selection"
                    hx-swap="innerHTML">
                    Exporteren                        
                </button>   
                <button class="delete"
                    hx-post="{{ url_for('main.edit_delete') }}"
                    hx-trigger="click"
                    hx-target="#ws_all"
                    hx-swap="innerHTML">
                    Verwijderen
                </button>
                <label><input type="checkbox" name="confirm_delete" value="confirm_delete">Bevestig verwijderen</label>          
            </div>
            <button
                hx-get="{{ url_for('main.ws_all') }}"
                hx-trigger="click"
                hx-target="#ws_all"
                hx-swap="innerHTML">Annuleren
            </button>
        </div>
    </form>
</div>

<script nonce="{{ nonce }}" src="{{url_for('static', filename='scripts/sort_table.js')}}"></script>