<h1>Mijn werksessies</h1>
<div class="card_area">
    {% for worksession in worksessions %}
        <a href="{{url_for('main.show_worksession', worksession_id=worksession.id)}}">
            <div class="card" style="background-color:{{ worksession.question_set.color }}; color:{{ worksession.question_set.text_color }}">
                <div class="card_title">
                    {{ worksession.name}}
                </div>
                
                <div class="card_info">
                    {% if worksession.date is not none %}
                        <p>Datum: {{ worksession.date.strftime('%d-%m-%Y') }}</p>
                    {% endif %}
                    <p>{{ worksession.question_set.name }} ({{ worksession.completion() }})</p>
                    {% if worksession.plan | count > 0 %}
                        <p>Interventieplannen: {{ worksession.plan | count }}</p>
                    {% endif %}
                </div>
                
                <div class="card_description">
                    {{ worksession.description | escape | markdown }}
                </div>
            </div>
        </a>

    {% endfor %}
</div>