{% extends 'base.html' %}

{% block steps %}
{% endblock %}

{% block page_title %}
    Kan selectietool niet verwijderen
{% endblock %}

{% block body %}
    <h1>Deze vraag is beantwoord in {{ worksessions | length }} werksessie(s)</h1>
    Verwijder eerst alle werksessies waarin deze vraag wordt beantwoord, en probeer het dan opnieuw.
    <br><br>
    <table>
        <tr>
            <th>Werksessie</th>
            <th>Beschrijving</th>
            <th>Eigenaar</th>
            <th>Status</th>
        </tr>
        {% for worksession in worksessions  %}
            <tr>
                <td><a href="{{url_for('main.show_worksession', worksession_id=worksession.id)}}">{{ worksession.name }}</a></td>
                <td>{{ worksession.description | escape | markdown | truncate(200) }}</td>
                <td><a href="{{ url_for('admin.user', id=worksession.creator.id) }}">{{ worksession.creator.name }}</a></td>
                <td>{% if worksession.archived %}Gearchiveerd{% else %}Actief{% endif %}</td>
            </tr>
        {% endfor %}
    </table>
    <br>
    <button onclick="window.history.back();">Terug</button>
{% endblock %}