{% extends 'base.html' %}

{% block steps %}
{% endblock %}

{% block page_title %}
    Er is een fout opgetreden
{% endblock %}

{% block body %}
    <h1>{{ title }}</h1>
    {% if message is string %}
        {{ message }}
    {% else %}
        {% for line in message %}
            <div>
                {{ line | markdown }}
            </div>
        {% endfor %}
    {% endif %}
    <br>
    {% if error | length %}
        <h1 class="collapsible">Technische informatie</h1>
        <div class="collapsible_content">
            {{ error }}
        </div>
    {% endif %}
    <!-- <button onclick="window.history.back();">Terug</button> -->
{% endblock %}