{% extends 'base.html' %}

{% block steps %}
    <a href="{{ url_for('tools.view_question_set', question_set_id=question_set.id) }}" class="step">{{ question_set.name }}</a>
{% endblock %}

{% block page_title %}
    Ontwerpen
{% endblock %}




{% block tabs %}

{% endblock %}

{% block body %}
        <table class="settings">
            <thead>
                <tr>
                    <th colspan="2"></th>
                    <th>Vraag</th>
                    <th>Kenmerken</th>
                    <th>Acties</th>
                </tr>
            </thead>
            <tbody>
                {% for question in question_set.questions | sort(attribute='order') %}
                    <tr>
                        <td>
                            {% if not loop.first %}
                                <a href="{{ url_for('tools.question_move', question_set_id=question_set.id, question_id=question.id, dir=1) }}">	
                                    &#8679;
                                </a>
                            {% endif %}
                        </td>
                        <td>
                            {% if not loop.last %}
                                <a href="{{ url_for('tools.question_move', question_set_id=question_set.id, question_id=question.id, dir=0) }}">	
                                    &#8681;
                                </a>
                            {% endif %}
                        </td>
                        <td>
                            {% if not question.is_category %}
                                <a href="{{ url_for('tools.edit_question_options', question_id=question.id) }}">{{ question.name }}</a>
                            {% else %}
                                <a href="{{ url_for('tools.edit_question', question_id=question.id) }}" class="category">{{ question.name }}</a>
                            {% endif %}
                        </td>
                        <td>
                            {% if question.is_category %}
                                <span class="property">Alleen label</span>
                            {% else %}
                                {% if question.allow_motivation %}
                                <span class="property">Open vraag</span>
                                {% endif %}
                                {% if question.allow_choice %}
                                    {% if question.allow_multiselect %}
                                        <span class="property">Meerdere keuzes toestaan</span>
                                    {% else %}
                                        <span class="property">Één keuze toestaan</span>
                                    {% endif %}
                                    <span class="property" title="{% for option in question.options %}{{ option.name }}{% if not loop.last %}&#013;{% endif %}{% endfor %}">{{ question.options | length }} optie(s)</span>
                                    {% if question.allow_weight %}
                                        <span class="property">Weging per vraag</span>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                            {% if question.description | length > 0 %}
                                <span class="property" title="{{ question.description | escape }}">Omschrijving</span>
                            {% endif %}
                            {% if question.required_active_tags | length > 0 %}
                                <span class="property" title="
                                    {% for tag in question.required_active_tags %}{{ tag.name }}{% if not loop.last %}; {% endif %}{% endfor %}">Routering</span>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ url_for('tools.edit_question', question_id=question.id) }}" class="tooltip"><button>✎</button><div class="tooltiptext">Vraag aanpassen</div></a>
                            <a href="{{ url_for('tools.edit_required_tags', question_id=question.id) }}" class="tooltip"><button>⌥</button><div class="tooltiptext">Routering</div></a>
                            {% if not question.is_category %}
                                <a href="{{ url_for('tools.edit_question_options', question_id=question.id) }}" class="tooltip"><button>◉</button><div class="tooltiptext">Antwoordopties</div></a>
                            {% endif %}
                            
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="2"></td>
                    <form method="POST">
                        {{ form.csrf_token }}    
                        <td colspan="2">{{ form.name }}</td>
                    
                        <td>{{ form.submit }}</td>
                    </form>
                </tr>
            </tbody>
        </table>

    <h1>Instrumentenfilters</h1>
        <table class="settings">
            <tr>
                <th>Filter</th>
                <th>Tags</th>
                <th>Acties</th>
            </tr>
            <tr>
                <td>Sta alleen instrumenten toe met de volgende tags</td>
                <td>
                    {% if question_set.mandatory_tags | length == 0 %}
                        Geen
                    {% endif %}
                    {% for tag in question_set.mandatory_tags %}
                        <a href="{{ url_for('tools.remove_tag_from_question_set', question_set_id=question_set.id, taglist='mandatory', tag_id=tag.id) }}" 
                        class="{% if tag in question_set.forbidden_tags %}warning {% endif %}tag">
                            {{ tag.name }} &#10006;
                        </a>
                    {% endfor %}
                </td>
                <td>
                    <form method="POST">
                        {{ add_mandatory_tag_form.csrf_token }}
                        {{ add_mandatory_tag_form.tag }}
                        <input type="submit" name="mandatory" value="Toevoegen">
                    </form>
                </td>
                
            </tr>
            <tr>
                <td>Sluit alle instrumenten uit met de volgende tags</td>
                <td>
                    {% if question_set.forbidden_tags | length == 0 %}
                        Geen
                    {% endif %}
                    {% for tag in question_set.forbidden_tags %}
                        <a href="{{ url_for('tools.remove_tag_from_question_set', question_set_id=question_set.id, taglist='forbidden', tag_id=tag.id) }}" 
                        class="{% if tag in question_set.mandatory_tags %}warning {% endif %}tag">
                            {{ tag.name }} &#10006;
                        </a>
                    {% endfor %}
                </td>
                <td>
                    <form method="POST">
                        {{ add_forbidden_tag_form.csrf_token }}
                        {{ add_forbidden_tag_form.tag }}
                        <input type="submit" name="forbidden" value="Toevoegen">
                    </form>
                </td>
            </tr>
        </table>
        {% for tag in question_set.forbidden_tags %}
            {% if tag in question_set.mandatory_tags %}
                <div class="warning">Conflict: 
                Deze tool selecteert alleen instrumenten met de tag <span class="tag">{{ tag.name }}</span>,
                maar sluit ook alle instrumenten  met deze tag uit. Daardoor zal deze tool nooit
                instrumenten selecteren.</div>
            {% endif %}
        {% endfor %}

{% endblock %}