{% extends 'base.html' %}

{% block page_title %}
    Ontwerpen
{% endblock %}

{% block tabs %}
    <div class="tab_bar">
        <button class="tablinks" onclick="switch_tab(event, 'st_all')" id="defaultOpen">Selectietools</button>
        <button class="tablinks" onclick="switch_tab(event, 'st_tags')" id="defaultOpen">Tags</button>
    </div>
{% endblock %}

{% block search %}
    {% include 'search.html' %}
{% endblock %}

{% block body %}
    <div id="st_all" class="tabcontent">
        <div class="card_area">
            <a href="{{ url_for('tools.edit_question_set') }}">
                <div class="card new">
                    <div class="card_title">
                        Nieuwe selectietool maken
                    </div>
                    <div class="card_description">
                        Klik hier om een nieuwe selectietool te maken.
                    </div>
                </div>
            </a>
            <a href="{{ url_for('tools.import_question_set') }}">
                <div class="card new">
                    <div class="card_title">
                        Selectietool importeren
                    </div>
                    <div class="card_description">
                        Klik hier om een selectietool te importeren uit een JSON-bestand.
                    </div>
                </div>
            </a>

            {% for question_set in question_sets | sort(attribute="name") %}
                <a href="{{url_for('tools.view_question_set', question_set_id=question_set.id)}}">
                    <div class="card" style="background-color:{{ question_set.color }}; color:{{ question_set.text_color }}">
                        <div class="card_title">
                            {{ question_set.name }}
                        </div>
                        <div class="card_description">
                            {{ question_set.description | escape | markdown }}
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>


    <div id="st_tags" class="tabcontent">
        <div class="text_area">
            <h1>Analyse</h1>
            <ul>
                <li>
                    <a href="{{ url_for('analysis.instrument_tag_matrix') }}">Tags per instrument</a>
                </li>
            </ul>
            <h1>Tag toevoegen</h1>
                {% if edit_catalog_allowed %}
                <table>
                    <thead>
                        <tr>
                            <th>Naam</th>
                            <th colspan="2">Acties</th>
                        </tr>
                    </thead>
                    <tbody>
                        <form method="POST">
                            {{ form.csrf_token }}
                            <tr>
                                <td>{{ form.name }}</td>
                                <td>{{ form.submit }}</td>
                            </tr>
                        </form>
                    </tbody>
                </table>
                {% endif %}
                <h1>Alle tags</h1>
                    <ul>
                    {% for tag in tags %}
                    <li><span class="tag"><a href="{{ url_for('tools.tag', tag_id=tag.id) }}">{{ tag.name }}</a></span></li>
                    {% endfor %}
                    </ul>

        
            </div>

        </div>
    </div>


{% endblock %}