{% extends 'base.html' %}

{% block steps %}
    <span class="step">Selectietool ontwerpen</span>
{% endblock %}

{% block page_title %}
    Selectietool ontwerpen
{% endblock %}

{% block instrumenten %}
    {% if current_user.role.edit_questionnaire %}
        <a href="{{ url_for('tools.edit_question_set') }}"><div class="instrument">+ Nieuwe selectietool maken</div></a>
        <a href="{{ url_for('tools.import_question_set') }}"><div class="instrument">Selectietool importeren</div></a>
        <a href="{{ url_for('catalog.tags') }}"><div class="instrument">Taglijst aanpassen</div></a>
    {% endif %}
{% endblock %}

{% block body %}
    <table>
        <tr>
            <th>Selectietools</th>
            <th>Beschrijving</th>
        </tr>
        {% for question_set in question_sets %}
            <tr>
                <td><a href="{{url_for('tools.design_question_set', question_set_id=question_set.id)}}">{{ question_set.name }}</a></td>
                <td>{{ question_set.description | escape | markdown }}</td>
            </tr>   
        {% endfor %}
    </table>
{% endblock %}