{% extends 'base.html' %}

{% block page_title %}
    Ontwerpen
{% endblock %}

{% block tabs %}
    <button class="tablinks" onclick="switch_tab(event, 'st_all')" id="defaultOpen">Selectietools</button>
    <button class="tablinks" onclick="switch_tab(event, 'st_tags')" id="defaultOpen">Tags</button>
{% endblock %}

{% block search %}
    {% include 'search.html' %}
{% endblock %}

{% block body %}
    <div id="st_all" class="tabcontent">
        <div class="card_area">
            <a href="{{ url_for('tools.edit_question_set') }}">
                <div class="card new">
                    <div class="card_title">
                        Nieuwe selectietool maken
                    </div>
                    <div class="card_description">
                        Klik hier om een nieuwe selectietool te maken.
                    </div>
                </div>
            </a>
            <a href="{{ url_for('tools.import_question_set') }}">
                <div class="card new">
                    <div class="card_title">
                        Selectietool importeren
                    </div>
                    <div class="card_description">
                        Klik hier om een selectietool te importeren uit een JSON-bestand.
                    </div>
                </div>
            </a>

            {% for question_set in question_sets | sort(attribute="name") %}
                <a href="{{url_for('tools.view_question_set', question_set_id=question_set.id)}}">
                    <div class="card" style="background-color:{{ question_set.color }}; color:{{ question_set.text_color }}">
                        <div class="card_title">
                            {{ question_set.name }}
                        </div>
                        <div class="card_description">
                            {{ question_set.description | escape | markdown }}
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>


    <div id="st_tags" class="tabcontent">
        <div class="text_area">
            <h1>Analyse gebruik van tags</h1>
            <ul>
                <li>
                    <a href="{{ url_for('analysis.instrument_tag_matrix') }}">In instrumenten</a>
                </li>
                {% for question_set in question_sets %}
                    <li>
                        <a href="{{ url_for('analysis.option_tag_matrix', question_set_id=question_set.id) }}">In {{ question_set.name }}</a>
                    </li>
                {% endfor %}
            </ul>
            {% include 'tag_table.html' %}
        </div>
    </div>


{% endblock %}