{% extends 'base.html' %}


{% block steps %}
    <a href="{{url_for('tools.design_question_set', question_set_id=question_set.id)}}" class="step">{{ question_set.name }}</a>
{% endblock %}

{% block page_title %}
    Selectietool ontwerpen
{% endblock %}


{% block body %}
    <form method="POST">
        {{ form.csrf_token }}
        {{ form.submit }}
        <table class="settings">
            <tr>
                <td>{{ form.name.label }}</td>
                <td>{{ form.name }}</td>
            </tr>
            <tr>
                <td>{{ form.owner.label }}</td>
                <td>{{ form.owner }}</td>
            </tr>
            <tr>
                <td>
                    {{ form.description.label }}
                    {{ macro.markdown_help() }}
                </td>
                <td>{{ form.description }}</td>
            </tr>
            <tr>
                <td>{{ form.default_process.label }}</td>
                <td>{{ form.default_process }}</td>
            </tr>
            <tr>
                <td></td>
                <td>{{ form.default_instruments_visible }} {{ form.default_instruments_visible.label }}</td>
            </tr>
            <tr>
                <td></td>
                <td>{{ form.default_tags_visible }} {{ form.default_tags_visible.label }}</td>
            </tr>
            <tr>
                <td></td>
                <td>{{ form.default_allow_weights }} {{ form.default_allow_weights.label }}</td>
            </tr>
            <tr>
                <td>Tekstkleur kaart</td>
                <td>
                    {{ form.text_color }}
                </td>
            </tr>
            <tr>
                <td>Achtergrondkleur kaart</td>
                <td>
                    {{ form.color }}
                </td>
            </tr>
        </table>
    </form>
{% endblock %}