{% extends 'base.html' %}

{% block page_title %}
    Tag: {{ tag.name }}
{% endblock %}

{% block tabs %}
    <button class="tablinks" onclick="switch_tab(event, 'tag_info')" id="defaultOpen">Informatie</button>
    <button class="tablinks" onclick="switch_tab(event, 'tag_ins')">Instrumenten</button>
    <button class="tablinks" onclick="switch_tab(event, 'tag_st')">Selectietools</button>
{% endblock %}

{% block body %}
    <div id="tag_info" class="tabcontent">
        <div class="text_area">
            {% if current_user.role.edit_catalog %}
            <ul>
                <li><a href="{{ url_for('tools.edit_tag', tag_id=tag.id) }}">Tag hernoemen</a></li>
                <li>{{ macro.confirm_redirect( "Tag verwijderen", "Tag '"+tag.name+"'' verwijderen? Hiermee worden verwijzingen naar deze tag ook verwijderd.",  url_for('tools.delete_tag', tag_id=tag.id) ) }}</li>
            </ul>
            {% endif %}

        </div>
    </div>

    <div id="tag_ins" class="tabcontent">
        <h1>Instrumenten met deze tag</h1>
        <div class="card_area">

            {% for instrument_tag_assignment in instrument_tag_assignments %}
                {% if tag == instrument_tag_assignment.tag %}
                    <a href="{{ url_for('catalog.show_instrument', id=instrument_tag_assignment.instrument.id) }}">
                        <div class="card">
                            <div class="card_title">
                                {{ instrument_tag_assignment.instrument.name }}
                            </div>
                            <div class="card_description">
                                {{ instrument_tag_assignment.instrument.introduction | escape | markdown }}
                            </div>
                        </div>
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <div id="tag_st" class="tabcontent">
        <div class="text_area">
            <h1>Antwoordopties met deze tag</h1>
            <table>
                <tr>
                    <th>Selectietool</th>
                    <th>Vraag</th>
                    <th>Antwoordoptie met tag {{ tag.name }}</th>
                    <th>Acties</th>
                </tr>
                
                    {% for question_set in question_sets %}
                        {% for question in question_set.questions %}
                            {% for option in question.options %}
                                {% if tag in option.tags %}
                                    <tr>
                                        <td><a href="{{url_for('tools.design_question_set', question_set_id=question_set.id)}}">{{ question_set.name }}</a></td>
                                        <td><a href="{{ url_for('tools.edit_question', question_id=question.id) }}">{{ question.name  }}</a></td>
                                        <td><a href="{{ url_for('tools.edit_option', option_id=option.id) }}">{{ option.name }}</a></td>
                                        <td><a href="{{ url_for('tools.edit_tag_assignment', option_id=option.id) }}"><button>Tags aanpassen</button></a></td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
            </table>

            <h1>Routing op basis van deze tag</h1>
            <table>
                <tr>
                    <th>Selectietool</th>
                    <th>Vraag met {{ tag.name }} als voorwaarde</th>
                    <th>Acties</th>
                </tr>
                <tr>
                    {% for question_set in question_sets %}
                        {% for question in question_set.questions %}
                            {% if tag in question.required_active_tags %}
                                <td><a href="{{url_for('tools.design_question_set', question_set_id=question_set.id)}}">{{ question_set.name }}</a></td>
                                <td><a href="{{ url_for('tools.edit_question', question_id=question.id) }}">{{ question.name  }}</a></td>
                                <td><a href="{{url_for('tools.edit_required_tags', question_id=question.id)}}"><button>Tags aanpassen</button></a></td>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </tr>
            </table>
        </div>
    </div>




    

{% endblock %}