<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="URF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Karla:wght@500&family=Noto+Sans:wght@300&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@300;700&display=swap" rel="stylesheet">
        <!-- Styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/pstyles.css')}}">
        <!-- HTMX -->
        <script src="https://unpkg.com/htmx.org@2.0.4/dist/htmx.js" integrity="sha384-oeUn82QNXPuVkGCkcrInrS1twIxKhkZiFfr2TdiuObZ3n3yIeMiqcRzkIcguaof1" crossorigin="anonymous"></script>

        <title>{{ worksession.name }}</title>
    </head>

    <body>
        <header>
            <div class="modes">
                <button>
                    <a href="{{ url_for('main.case', worksession_id=worksession.id) }}">1. Casus</a>
                </button>
                <button>
                    <!-- <a href="{{ url_for('main.process_single', worksession_id=worksession.id) }}">2. {{ worksession.question_set.name }}</a> -->
                    2. {{ worksession.question_set.name }}
                </button>
                <button>
                    <a href="{{ url_for('main.conclusion', worksession_id=worksession.id) }}">3. Conclusie</a>
                </button>
                <button>
                    <a href="{{ url_for('main.show_worksession', worksession_id=worksession.id) }}">Afsluiten</a>
                </button>
            </div>
        </header>
        <nav>
            <div class="title">
                {{ worksession.name }}
            </div>
            <div class="description">
                {{ worksession.effect | escape | markdown }}
            </div>
        </nav>

        <main>
            <div class="question_set">
                <ul>
                    {% for question in worksession.question_set.questions %}
                        <li>
                            {% if question.is_category %}
                                <div class="category">
                                    {{ question.name }}
                                </div>
                            {% else %}

                                <div class="question">
                                    <button 
                                        hx-get="{{ url_for('present.show_question', worksession_id=worksession.id, question_id=question.id) }}"
                                        hx-trigger="click"
                                        hx-target="#focus_area"
                                        hx-push-url="true"
                                        hx-swap="innerHTML">
                                        {{ question.name }}
                                    </button>
                                    
                                </div>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="focus_area" id="focus_area">

            </div>
            <div class="instruments">
                {% include 'main/scored_instruments.html' %}
            

            </div>
            <div class="tags">
                {% for tag in worksession.active_tags() %}
                    <span class="tag">
                        {{ tag.name }}
                    </span>
                    
                {% endfor %}
            </div>
        </main>


        



        <script nonce="{{ nonce }}" src="{{url_for('static', filename='scripts/collapse.js')}}"></script>
        <script nonce="{{ nonce }}" src="{{url_for('static', filename='scripts/uncheck_radio.js')}}"></script>
    </body>
</html>





