<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Karla:wght@500&family=Noto+Sans:wght@300&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@300;700&display=swap" rel="stylesheet">
        <!-- Icons -->
        <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet">
        <!-- HTMX -->
        <script src="https://unpkg.com/htmx.org@2.0.0"></script>
        <title>{{ config['APP_NAME'] }}</title>
    </head>
    <body>
        {% import 'jinja_macros.html' as macro %}
        <nav>
            <div>
            {% if current_user.is_authenticated %}
                <p class="highlight"
                    hx-get="{{ url_for('main.dashboard') }}"
                    hx-trigger="click"
                    hx-target="#main_area"
                    hx-swap="innerHTML">
                    Dashboard
                </p>
                <p
                    hx-get="{{ url_for('main.worksessions') }}"
                    hx-trigger="click"
                    hx-target="#main_area"
                    hx-swap="innerHTML">
                    Sessies
                </p>
                <p>
                    <a href="{{ url_for('catalog.index') }}">Catalogus</a>
                </p>
                
                {% if current_user.role.edit_questionnaire %}
                    <p>
                        <a href="{{ url_for('tools.index') }}">Ontwerpen</a> 
                    </p>
                {% endif %}
                {% if current_user.role.edit_users %}
                    <p>
                        <a href="{{ url_for('admin.index') }}">Gebruikers</a> 
                    </p>
                {% endif %}
                {% if current_user.role.see_app_info %}
                    <p>
                        <a href="{{ url_for('admin.info') }}"><i class='bx bxs-info-circle'></i></a>
                    </p>      
                {% endif %}

                <p>
                    <a href="{{ url_for('admin.user', id=current_user.id) }}"><i class='bx bxs-user-circle'></i>
                        {{ current_user.name }} 
                        <!-- {% if current_user.unread_message_alert() %}(&#128489; {{ current_user.unread_messages() }}){% endif %} -->
                    </a>
                </p>
            </div>
            <div class="upcoming">
                <p>Komende sessies</p>
                {% for worksession in worksessions %}
                    <p class="session"
                    hx-get="{{ url_for('main.show_worksession', worksession_id=worksession.id) }}"
                    hx-trigger="click"
                    hx-target="#main_area"              
                    hx-swap="innerHTML">
                        {{ worksession.name }}
                    </p>
                {% endfor %}
            </div>        
            {% else %}
                <p>
                    <a href="{{ url_for('main.login') }}">Login</a>
                </p>
            {% endif %}
            </div>
        </nav>
            <search>
                <form action="/analysis/search" method="get" class="search">
                    <input id="search" type="search"  name="q" value="{{ request.args.get('q') or '' }}" placeholder="Zoeken...">
                </form>
            </search>
        <div id="main_area">
        </div>
            
        
        
        
            <div class="steps">{% block steps %}{% endblock %}</div>
            <div class="tabs">{% block tabs %}{% endblock %}</div>



              


        
        <script nonce="{{ nonce }}" src="{{url_for('static', filename='scripts/collapse.js')}}"></script>
        <script nonce="{{ nonce }}" src="{{url_for('static', filename='scripts/confirm_redirect.js')}}"></script>
        <script nonce="{{ nonce }}" src="{{url_for('static', filename='scripts/switch_tab.js')}}"></script>
        <script nonce="{{ nonce }}" src="{{url_for('static', filename='scripts/sort_table.js')}}"></script>
        <script> // Open the default tab
            document.getElementById("defaultOpen").click();
        </script>
    </body>
</html>