<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@300;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Special+Gothic&display=swap" rel="stylesheet">
        <!-- Styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/pstyles.css')}}">
        <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/mstyles.css')}}"> -->
        <!-- HTMX -->
        <script src="https://unpkg.com/htmx.org@2.0.4/dist/htmx.js" integrity="sha384-oeUn82QNXPuVkGCkcrInrS1twIxKhkZiFfr2TdiuObZ3n3yIeMiqcRzkIcguaof1" crossorigin="anonymous"></script>

        <title>{{ worksession.name }}*</title>
    </head>

    <body class="presenter_view">
        <div class="nav">
            <div class="element">
                <a href="{{ url_for('present.frontpage', worksession_id=worksession.id) }}">Beschrijving en doel</a>
            </div>
            <div class="element">
                <a href="{{ url_for('present.present_session', worksession_id=worksession.id) }}">{{ worksession.question_set.name }}</a>
            </div>
            <div class="element">
                <a href="{{ url_for('present.conclusion', worksession_id=worksession.id) }}">Conclusie en interventieplan</a>
            </div>
            <div class="element">
                <a href="{{ url_for('main.show_worksession', worksession_id=worksession.id) }}">Afsluiten</a>
            </div>
        </div>

        <div class="header">
            <h1 class="title">
                {{ worksession.name }}
            </h1>
            <div class="description">
                {% block description %}
                {% endblock %}
            </div>
        </div>
        
        {% block tags %}
        {% endblock %}
        
        {% if worksession.enable_voting %}
            <div class="qr">
                <a href="{{ url_for('vote.touch_vote', worksession_id=worksession.id, voting_key=worksession.voting_key, _external=True) }}">
                    <img src="{{ qrcode(url_for('vote.touch_vote', worksession_id=worksession.id, voting_key=worksession.voting_key, _external=True)) }}" height="100em">
                </a>
                <div class="qr_info">
                    Ga naar <strong>{{ url_for('vote.index', _external=True) }}</strong>
                    Sessie: <strong>{{ worksession.id }}</strong>, 
                    Code: <strong>{{ worksession.voting_key }}</strong>
                </div>
            </div>
        {% endif %}
        

        <div class="main" id="main">
            {% block main %}
            {% endblock %}
        </div>

        <div class="instruments" id="instruments">
            {% block instruments %}
            {% endblock %}
        </div>

        <!-- <script nonce="{{ nonce }}" src="{{url_for('static', filename='scripts/collapse.js')}}"></script> -->
        <script nonce="{{ nonce }}" src="{{url_for('static', filename='scripts/uncheck_radio.js')}}"></script>
        
    </body>
</html>