{% extends 'base.html' %}
<title>Analyse</title>


{% block page_title %}
    Analyse gebruik van tags in instrumenten
{% endblock %}

{% block body %}
    <table class="matrix sortable">
        <thead>
            <tr>
                <th rowspan="2" style="vertical-align:bottom;">Instrument</th>
                <th rowspan="2" style="vertical-align:bottom;">#Tags</th>
                {% for tag in tags %}
                    <th class="rotate"><div><span>{{ tag.name }}</span></div></th>
                {% endfor %}
                <th rowspan="2" style="vertical-align:bottom;">Instrument</th>
            </tr>
            <tr>
                {% for tag in tags %}
                    <th>
                        <a href="{{ url_for('tools.tag', tag_id=tag.id) }}">🛈</a>
                        {{ macro.confirm_redirect( "☒", "Tag '"+tag.name+"'' verwijderen? Hiermee worden verwijzingen naar deze tag ook verwijderd.",  url_for('tools.delete_tag', tag_id=tag.id) ) }}
                    </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            
            {% for instrument in instruments %}
                <tr>
                    <td>
                        <a href="{{ url_for('catalog.show_instrument', id=instrument.id) }}">{{ instrument.name }}</a>
                    </td>
                    <td>
                        {{ instrument.taglist | count }}
                    </td>
                    {% for tag in tags %}
                        {% if tag in  instrument.taglist %}
                            <td style="text-align: center;background-color:var(--{% if instrument.tag_properties(tag)['multiplier'] > 0 %}green{% else %}red{% endif %})">
                                <span class="tooltip">
                                    <a href="{{ url_for('catalog.edit_tag_assignment_to_instrument', instrument_id=instrument.id, tag_assignment_id=instrument.get_tag_assignment(tag).id ) }}">
                                        ✎
                                    </a>
                                    <span class="tooltiptext">{{ tag.name }}<br>Factor:{{instrument.tag_properties(tag)['multiplier'] }} - Gewicht:{{instrument.tag_properties(tag)['weight'] }}</span>
                                </span>
                                <span class="tooltip">
                                    <a href="{{ url_for('catalog.quick_remove_tag', instrument_id=instrument.id, tag_id=tag.id) }}">
                                        ✖
                                    </a>
                                    <span class="tooltiptext">{{ tag.name }}<br>verwijderen</span>
                                </span>
                            </td>
                            {% else %}
                            <td style="text-align: center">
                                <div class="tooltip">
                                    <a href="{{ url_for('catalog.quick_add_tag', instrument_id=instrument.id, tag_id=tag.id) }}">+</a>
                                    <span class="tooltiptext">{{ tag.name }}<br>toevoegen</span>
                                </div>
                            </td>
                        {% endif %}                               
                        
                    {% endfor %}
                    <td>
                        <a href="{{ url_for('catalog.show_instrument', id=instrument.id) }}">{{ instrument.name }}</a>
                    </td>
                </tr>

            {% endfor %}
        </tbody>     

    </table>

{% endblock %}