{% extends 'base.html' %}

{% block page_title %}
    Werksessies op basis van selectietool {{ question_set.name }}
{% endblock %}

{% block body %}
<div class="card_area">
    {% for worksession in question_set.worksessions  %}
        {% if current_user in worksession.allowed_users or current_user.role.see_all_worksessions %}
            {% if current_user == worksession.creator %}
                <a href="{{url_for('main.show_worksession', worksession_id=worksession.id)}}">
                    <div class="card">
                        <div class="card_title">
                            {{ worksession.name}} {% if worksession.archived %}(gearchiveerd){% endif %}
                        </div>
                        <div class="card_owner">
                            {{ worksession.question_set.name }} 
                            ({{ worksession.creator.name }}, {{ worksession.date_modified.strftime('%d-%m-%Y') }})
                        </div>
                        <div class="card_description">
                            {{ worksession.description | escape | markdown }}
                        </div>
                    </div>
                </a>
            {% endif %}
        {% endif %}
    {% endfor %}   
</div>
{% endblock %}